<div class="portada">
</div>
<div class="text-white ml-3 mt-3" routerLink="../" role="button" style="position: relative;">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>
<div class="card rounded shadow portada-content">
    <h2 class="text-staatliches title">{{proyecto?.nombre}} - {{proyecto?.codigoProyecto}}</h2>
</div>


<div class="mx-4">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Detalles</a>
          <ng-template ngbNavContent>
            <div class="mt-5">
                <div class="card rounded shadow p-4">
                    <h5><i>Descripcion</i></h5>
                    <p>{{proyecto?.descripcion}}</p>
                    <div class="d-flex flex-row justify-content-around mt-5">
                        <div>
                            <h5><i>Fecha Inicio</i></h5>
                            <p>{{proyecto?.fechaInicio | date}}</p>
                        </div>
                        <div *ngIf='proyecto?.fechaFinal'>
                            <h5><i>Fecha Fin</i></h5>
                            <p>{{proyecto?.fechaFinal | date}}</p>
                        </div>
                        <div>
                          <h5><i>Jefe de proyecto</i></h5>
                          <p>{{jefeProyecto?.nombre}}</p>
                        </div>
                        <div>
                            <h5><i>Monto Inicial</i></h5>
                            <p>${{proyecto?.montoInicial}}</p>
                        </div>
                    </div>
                    <div class="my-3">
                      <h5>Usuarios asignados</h5>
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Ultimo acceso</th>
                                <th scope="col">Rol</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor='let usuario of usuariosProyecto; let i = index'>
                                <th scope="row">{{i + 1}}</th>
                                <td>{{usuario?.nombre}}</td>
                                <td>{{usuario?.id_grupoDeTrabajo}}</td>
                                <td>
                                  <span *ngFor='let permiso of usuario.permisos'>{{permiso?.descripcion}} - </span>
                              </tr>
                            </tbody>
                      </table>
                  </div>
                    <div class="text-center">
                      <button class="btn btn-secondary mx-2 btn-lg" routerLink='../editar-proyecto/{{proyecto?.id_proyecto}}'>
                          Editar Proyecto
                      </button>
                      <button class="btn btn-primary mx-2 btn-lg" routerLink='finalizar-proyecto'>
                          Finalizar Proyecto
                      </button>
                    </div>
                    
                </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Blog</a>
          <ng-template ngbNavContent>
            <div class="card rounded shadow m-3 p-3">
              <form [formGroup]="formFecha" (ngSubmit)="Buscar()">
                <div class="row">
                  <div class="col">
                    <label for="fecDesde" class="form-label">Fecha inicial</label>
                    <input type="date" class="form-control" id="fecDesde" formControlName="fecDesde">
                  </div>
                  <div class="col">
                    <label for="fecHasta" class="form-label">Fecha final</label>
                    <input type="date" class="form-control" id="fecHasta" formControlName="fecHasta">
                  </div>
                  <div class="col">
                      <label  class="form-label">Tipo de blog</label>
                    <div class="input-group mb-3">
                        <select class="form-control" aria-label=".form-select-lg example" formControlName='filtro'>
                            <option value='Todos'>Todos</option>
                            <option value='Jaula'>Jaula</option>
                            <option value='Experimento'>Experimento</option>
                        </select>
                      </div>
                  </div>
                  <div class="col align-self-center ">
                    <div class="">
                      <button class="btn btn-success btn-lg " type="submit" [disabled]="!formFecha.valid">
                        <i class="bi bi-search"></i></button>
                    </div>
                    
                  </div>
                </div>
              </form>
            </div>
            <div class="p-2 bd-highlight">
              <button type="button" class="btn btn-primary" routerLink='nuevo-blog-proyecto'>Nuevo Blog</button>
            </div>
            <div class="row m-2" >
              <ng-container *ngFor='let a of blogs;let i = index'>
            <div class="col-1 d-flex flex-column  align-items-center">
              <div class="rounded-circle border border-dark d-flex justify-content-center align-items-center m-2" style="width: 40px; height: 40px;">
                <i class="bi bi-journal"></i>
              </div>
              <p class="text-center mb-0">{{a.fecha | date: 'shortDate'}}</p>
              <div>
            </div>
            </div>
            <div class=" col-11 card shadow  mb-3">
              <div class="card-header"><strong>Blog {{a.tipo}} n°{{a.id_blog}} </strong></div> 
                <p class="mb-1"><i> usuario :{{a.id_usuario}}</i></p>
                <p>{{a.detalle}}</p>
            </div>
          </ng-container>
        </div>
        <div class="alert alert-danger text-center" *ngIf ='blogs.length === 0 ' role="alert">
         Sin Blogs
        </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Experimentos</a>
          <ng-template ngbNavContent>

            <form>
              <div class="form-group form-inline m-4 justify-content-around">
                <div>
                  Buscar experimento: <input class="form-control ml-2" type="text" [formControl]="filter"/>
                </div>
                  <button class="btn btn-primary" routerLink='nuevo-experimento'>Nuevo Experimento</button>
              </div>
            </form>

            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Código</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Metodología</th>
                <th scope="col">Objetivos</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let experimento of experimentoFiltro; index as i" routerLink="experimento/{{experimento.id_experimento}}" style="cursor: pointer;">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{experimento?.codigo}}
                </td>
                <td>
                  {{experimento?.fechaInicio | date:'shortDate'}}
                </td>
                <td>
                  {{experimento?.metodologia}}
                </td>
                <td>
                  {{experimento?.objetivos}}
                </td>
              </tr>
              <tr *ngIf='experimentoFiltro.length === 0'>
                <td colspan="5">Sin experimentos</td>
              </tr>
              </tbody>
            </table>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>



<!-- <h5 class="mt-4">Timeline de proyecto</h5>
            <div class="card shadow rounded p-4 m-3">
              <form action="">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label">Fecha Inicio</label>
                      <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                          <div class="input-group-append">
                              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                  <i class="bi bi-calendar"></i>
                              </button>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="" class="form-label">Fecha Inicio</label>
                      <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                          <div class="input-group-append">
                              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                  <i class="bi bi-calendar"></i>
                              </button>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label for="exampleInputEmail1" class="form-label">Tipo de entrada</label>
                    <select class="form-control"  aria-label="Default select example">
                        <option selected>-Tipo-</option>
                        <option value="1">Blog</option>
                        <option value="2">Bioterio</option>
                        <option value="3">Acciones</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div>
              <div class="row">
                <div class="col-1 d-flex flex-column justify-content-center align-items-center">
                  <div class="rounded-circle border border-dark d-flex justify-content-center align-items-center m-auto" style="width: 35px; height: 35px;">
                    <i class="bi bi-journal"></i>
                  </div>
                  <p class="text-center mb-0">20/03/19</p>
                  <p>20:24hs</p>
                </div>
                <div class="col-11">
                  <ngb-alert [dismissible]="false">
                    <strong>Experimento AAA-123 - Entrada en Blog</strong> 
                    <p class="mb-0"><i>Gabriel Jotallan</i></p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid numquam, ipsam nulla vel veritatis dolore nesciunt dignissimos distinctio! Recusandae, explicabo.</p>
                  </ngb-alert>
                </div>
              </div>

              <div class="row">
                <div class="col-11">
                  <ngb-alert [dismissible]="false">
                    <strong>Experimento AAA-123 - Cambio en Bioterio</strong> 
                    <p class="mb-0"><i>Gabriel Jotallan</i></p>
                    <p>El animal <strong>AAA-1111</strong> correspondiente a la jaula <strong>AAA-1111</strong> cambio a la jaula <strong>AAA-1111</strong></p>
                  </ngb-alert>
                </div>
                <div class="col-1 d-flex flex-column justify-content-center align-items-center">
                  <div class="rounded-circle border border-dark d-flex justify-content-center align-items-center m-auto" style="width: 35px; height: 35px;">
                    <i class="bi bi-arrow-left-right"></i>
                  </div>
                  <p class="text-center mb-0">20/03/19</p>
                  <p>20:24hs</p>
                </div>
              </div>


              <div class="row">
                <div class="col-1 d-flex flex-column justify-content-center align-items-center">
                  <div class="rounded-circle border border-dark d-flex justify-content-center align-items-center m-auto" style="width: 35px; height: 35px;">
                    <i class="bi bi-journal"></i>
                  </div>
                  <p class="text-center mb-0">20/03/19</p>
                  <p>20:24hs</p>
                </div>
                <div class="col-11">
                  <ngb-alert [dismissible]="false">
                    <strong>Experimento AAA-123 - Entrada en Blog</strong> 
                    <p class="mb-0"><i>Gabriel Jotallan</i></p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid numquam, ipsam nulla vel veritatis dolore nesciunt dignissimos distinctio! Recusandae, explicabo.</p>
                  </ngb-alert>
                </div>
              </div>

              <div class="row">
                <div class="col-11">
                  <ngb-alert [dismissible]="false">
                    <strong>Experimento AAA-123 - Cambio en Bioterio</strong> 
                    <p class="mb-0"><i>Gabriel Jotallan</i></p>
                    <p>El animal <strong>AAA-1111</strong> correspondiente a la jaula <strong>AAA-1111</strong> cambio a la jaula <strong>AAA-1111</strong></p>
                  </ngb-alert>
                </div>
                <div class="col-1 d-flex flex-column justify-content-center align-items-center">
                  <div class="rounded-circle border border-dark d-flex justify-content-center align-items-center m-auto" style="width: 35px; height: 35px;">
                    <i class="bi bi-arrow-left-right"></i>
                  </div>
                  <p class="text-center mb-0">20/03/19</p>
                  <p>20:24hs</p>
                </div>
              </div>
            </div>
             -->