.portada{
    background-image: url(../../../../../assets/img/default1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 15em;
    filter: blur(0.1rem);
    position: absolute;
    width: 100%;
}

.portada-content{
    position: relative;
    width: 40%;
    margin: auto;
    margin-top: 10em;
    padding: 1em;
}

.title{
    margin: auto;
}

.barra{
    border: none;
    border-left: 2px solid #999;
    background-color: rgb(148, 148, 148);
    height: 40px;
    width: 2px;
}

.border p {
    /* text-align: center; */
}

.experimento-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card-experimento{
    max-width: 25em;
}