.portada{
    background-image: url(../../../../../assets/img/default1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 15em;
    filter: blur(0.1rem);
    position: absolute;
    width: 100%;
}

.portada-content{
    position: relative;
    width: 40%;
    margin: auto;
    margin-top: 10em;
    padding: 1em;
}

.title{
    margin: auto;
}

.barra{
    border: none;
    border-left: 2px solid #999;
    background-color: rgb(148, 148, 148);
    height: 40px;
    width: 2px;
}

.border p {
    /* text-align: center; */
}

.experimento-filtro-container{
    flex-wrap: wrap;
    flex-direction: row;
}

.card-experimento{
    max-width: 22em;
}

.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.experimentos-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}