<div class="mx-4">
    
    <div class="text-center my-4">
        <h2>Nuevo Blog </h2>
    </div>
  <div class="card rounded shadow p-4 m-5">
  <form [formGroup]="formBlog" (ngSubmit)="crearBlog()"> 
        <div class=" m-3">
            <label  class="form-label">Tipo de Blog</label>
                <div class="input-group mb-3">
                    <select class="form-control" aria-label=".form-select-lg example" formControlName='tipo'>
                      <option selected>Seleccionar tipo de blog</option>
                      <option value="Jaula">Jaula</option>
                      <option value="Experimento">Experimento</option>
                    </select>
                </div>
        </div>
        <div *ngIf = "formBlog.value.tipo === 'Jaula' " class=" m-3">
            <label  class="form-label">Código de Jaula</label>
                <div class="input-group mb-3">
                    <select class="form-control" aria-label=".form-select-lg example" formControlName='id'>
                        <option *ngFor='let jaula of jaulas' value="{{jaula.id_jaula}}">{{jaula.codigo}}</option>
                    </select>
                </div>
        </div>
        <div *ngIf = "formBlog.value.tipo === 'Experimento' " class=" m-3">
            <label  class="form-label">Código de Experimento</label>
                <div class="input-group mb-3">
                    <select class="form-control" aria-label=".form-select-lg example" formControlName='id'>
                        <option *ngFor='let experimento of experimentos' value="{{experimento.id_experimento}}">{{experimento.codigo}}</option>
                    </select>
                </div>
        </div>
        <div class="m-3">
            <label for="detalle" class="form-label">Detalle</label>
            <input type="text" class="form-control" id="detalle" formControlName="detalle">
      </div>
        <div class="d-flex flex-row justify-content-end">
            <div class="mx-3" routerLink="../" role="button">
                <button class="btn btn-secondary btn-lg">Cancelar</button>
            </div>
            <div class="mx-3">
                <button class="btn btn-primary btn-lg" type="submit" [disabled]="!formBlog.valid">Crear Blog</button>
            </div>
        </div>
        <div class="d-flex bd-highlight alert alert-{{estado}} mt-3" role="alert" *ngIf='alert'>
            <div class="p-2 flex-grow-1 bd-highlight">{{mensajeAlert}}</div>
            <div class="p-2 bd-highlight">
            <button type="button" class="btn btn-outline-dark" routerLink="../">VOLVER</button>
            </div>
        </div>
    </form>
  </div>
</div>



