<div *ngIf='!cargando'>
  <div class="m-4" role="button">
    <h5 (click)='volver()'><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
  </div>

  <div class="mx-4">
    <div class="my-3">
      <h2 class="mb-0">{{modo === 'EDITAR' ? 'Editar' : 'Crear' }} Contenedor</h2>
    </div>
    <div class="p-4 m-5 ">
      <form name='formContenedor' [formGroup]="formContenedor" (ngSubmit)="crearContenedor()">
        <div class="m-3">
          <label  for="codigo" class="form-label">Código</label>
          <input type="text" class="form-control" id="codigo" formControlName="codigo" placeholder="Ingrese el código del contenedor" [attr.disabled]='disabledForm ? true : null'>
          
        </div>
        <div class="m-3">
          <label  for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingrese el nombre del contenedor" [attr.disabled]='disabledForm ? true : null'>
        </div>
        <div class="m-3">
          <label  for="descripcion" class="form-label">Descripción</label>
          <input type="text" class="form-control" id="descripcion" formControlName="descripcion" placeholder="Ingrese la descripción del contenedor" [attr.disabled]='disabledForm ? true : null'>
        </div>
        <div class="m-3">
          <label  for="temperatura" class="form-label">Temperatura</label>
          <input type="text" class="form-control" id="temperatura" formControlName="temperatura" placeholder="Ingrese la temperatura del contenedor" [attr.disabled]='disabledForm ? true : null'>
        </div>
        <div class=" m-3">
          <label  class="form-label" for="proyecto">Proyecto Asignado</label>
              <select class="form-control" aria-label=".form-select-lg example" id="proyecto" formControlName="proyecto" [attr.disabled]='disabledForm ? true : null'>
                <option value="-1" disabled>Seleccione el proyecto asignado al contenedor</option>
                <option value="0">Sin asignar</option>
                <option *ngFor='let proyecto of proyectos' value="{{proyecto.id_proyecto}}">{{proyecto.nombre}}</option>
              </select>
        </div>
        <div class=" m-3">
          <label  class="form-label" for="espacioFisico">Espacio Físico</label>
              <select class="form-control" aria-label=".form-select-lg example" id="espacioFisico" formControlName="espacioFisico" [attr.disabled]='disabledForm ? true : null'>
                <option value="-1" disabled>Seleccione el espacio físico del contenedor</option>
                <option *ngFor='let espacio of espacios' value="{{espacio.id_espacioFisico}}">{{espacio.nombre}}</option>
              </select>
        </div>
        <div class="m-3">
          <label  for="capacidad" class="form-label">Capacidad</label>
          <input type="number" class="form-control" id="capacidad" formControlName="capacidad" placeholder="Ingrese la capacidad del contenedor" [attr.disabled]='disabledForm ? true : null'>
        </div>
        <div class="m-3">
          <label  for="fichaTecnica" class="form-label">Ficha Técnica</label>
          <input type="text" class="form-control" id="fichaTecnica" formControlName="fichaTecnica" placeholder="Ingrese la ficha técnica del contenedor" [attr.disabled]='disabledForm ? true : null'>
        </div>
        <div class="m-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="disponible" name='disponible' [attr.disabled]='disabledForm ? true : null'>
            <label class="form-check-label" for="disponible"> Está disponible?</label>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-end">
          <div class="mx-3">
              <button class="btn btn-primary btn-lg" type="submit" [disabled]="!formContenedor.valid">Guardar</button>
              <button class="btn btn-primary btn-lg" type="button" disabled *ngIf='disabledForm'>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Cargando...
              </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center align-items-center h-100" *ngIf='cargando'>
  <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>
  
<app-toast></app-toast>