<div class="mx-4">
      <div class="text-center my-4">
          <h2>Datos del Contenedor</h2>
      </div>
    <div class="card rounded shadow p-4 m-5 ">
    <form name='formContenedor' [formGroup]="formContenedor" (ngSubmit)="crearContenedor()">
      <div class="m-3">
        <label  for="codigo" class="form-label">Código</label>
        <input type="text" class="form-control" id="codigo" formControlName="codigo">
      </div>
      <div class="m-3">
        <label  for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre">
      </div>
      <div class="m-3">
        <label  for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
      </div>
      <div class="m-3">
        <label  for="temperatura" class="form-label">Temperatura</label>
        <input type="text" class="form-control" id="temperatura" formControlName="temperatura">
      </div>
      <div class=" m-3">
        <label  class="form-label" for="proyecto">Proyecto Asignado</label>
            <select class="form-control" aria-label=".form-select-lg example" id="proyecto" formControlName="proyecto">
              <option value="0">Sin asignar</option>
              <option *ngFor='let proyecto of proyectos' value="{{proyecto.id_proyecto}}">{{proyecto.nombre}}</option>
            </select>
      </div>
      <div class=" m-3">
        <label  class="form-label" for="espacioFisico">Espacio Físico</label>
            <select class="form-control" aria-label=".form-select-lg example" id="espacioFisico" formControlName="espacioFisico">
              <option *ngFor='let espacio of espacios' value="{{espacio.id_espacioFisico}}">{{espacio.nombre}}</option>
            </select>
      </div>
      <div class="m-3">
        <label  for="capacidad" class="form-label">Capacidad</label>
        <input type="number" class="form-control" id="capacidad" formControlName="capacidad">
      </div>
      <div class="m-3">
        <label  for="fichaTecnica" class="form-label">Ficha Técnica</label>
        <input type="text" class="form-control" id="fichaTecnica" formControlName="fichaTecnica">
      </div>
      <div class="m-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="disponible" name='disponible'>
          <label class="form-check-label" for="disponible">Disponible</label>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-end">
        <div class="mx-3 justify-content-start">
            <button class="btn btn-secondary btn-lg" routerLink="../">Cancelar</button> 
        </div>
        <div class="mx-3">
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="!formContenedor.valid">Guardar</button>
        </div>
      </div>
          <div class="d-flex bd-highlight alert alert-{{estado}} mt-3" role="alert" *ngIf='alert'>
            <div class="p-2 flex-grow-1 bd-highlight">{{mensajeAlert}}</div>
            <div class="p-2 bd-highlight">
                <button class="btn btn-secondary btn-lg" routerLink="../">VOLVER</button>
            </div>
          </div>
      </form>
    </div>
  </div>