<div class="text-black ml-3 mt-3" routerLink="../" role="button" style="position: relative;">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
  </div>
<h3 class="text-center mt-4" >Asociar un proyecto a Jaula - {{jaula?.codigo}}</h3>
  <div class="card rounded shadow p-4 m-5">
    <form [formGroup]="formProyecto" (ngSubmit)="asociar()">
      <div class="m-3">
        <select class="form-control" aria-label=".form-select-lg example" formControlName='id_proyecto'>
          <option value="0">Sin Asignar</option>
          <option *ngFor='let proyecto of proyectos' value="{{proyecto.id_proyecto}}">{{proyecto.nombre}}</option>
        </select>
      </div>
      <div class="d-flex flex-row justify-content-end"> 
        <div class="mx-3">
          <button class="btn btn-success btn-lg" type="submit" [disabled]="!formProyecto.valid" >Asociar</button>
          </div>
      </div>
      <div class="alert alert-{{estado}} mt-3" role="alert" *ngIf='alert'>
          {{mensajeAlert}}
      </div>
    </form>
  </div>
