<div *ngIf='!cargando'>
  <div class="m-4" (click)='volver()' role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
  </div>

  <div class="mx-4">
    <div class="my-3">
      <h2 class="mb-0">{{modo === 'EDITAR' ? 'Editar' : 'Crear' }} Producto</h2>
    </div>
    <div class="p-4 m-5">
      <form [formGroup]="formProducto" (ngSubmit)="crearProducto()">
        <div class="row">
          <div class="col-6">
            <div class="m-3">
              <label  for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre" [attr.disabled]='disabledForm ? true : null'>
            </div> 
            <div class="m-3">
              <label  for="marca" class="form-label">Marca</label>
              <input type="text" class="form-control" id="marca" formControlName="marca" [attr.disabled]='disabledForm ? true : null'>
            </div>
          </div>
          <div class="col-6">
            <div class=" m-3">
              <label  class="form-label" for="distribuidora">Distribuidora</label>
              <select class="form-control" aria-label=".form-select-lg example" id="distribuidora" formControlName="distribuidora" [attr.disabled]='disabledForm ? true : null'>
                <option *ngFor='let distribuidora of distribuidoras' value="{{distribuidora.id_distribuidora}}">{{distribuidora.nombre}}</option>
              </select>
            </div>
            <div class="m-3">
              <label  for="tipo" class="form-label">Tipo</label>
              <input type="text" class="form-control" id="tipo" formControlName="tipo" [attr.disabled]='disabledForm ? true : null'>
            </div>
          </div>
          <div class="col-6">
            <div class="m-3">
              <label  for="aka" class="form-label">Aka</label>
              <input type="text" class="form-control" id="aka" formControlName="aka" [attr.disabled]='disabledForm ? true : null'>
            </div>
          </div>
          <div class="col-6">
            <div class="m-3">
              <label  for="url" class="form-label">Url</label>
              <input type="text" class="form-control" id="url" formControlName="url" [attr.disabled]='disabledForm ? true : null'>
            </div>
          </div>
          <div class="col-6">
            <div class="m-3">
              <label  for="unidadAgrupacion" class="form-label">Unidad de Agrupación</label>
              <input type="number" class="form-control" id="unidadAgrupacion" formControlName="unidadAgrupacion" [attr.disabled]='disabledForm ? true : null'>
            </div>
          </div>
          <div class="col-6">
            <div class="m-3">
              <label  for="detallesTecnicos" class="form-label">Detalles Técnicos</label>
              <input type="file" class="form-control" id="detallesTecnicos" (change)="onArchivoSeleccionado($event)" [attr.disabled]='disabledForm ? true : null'>
            </div>
          </div>
          <div class="col-12">
            <div class="m-3">
              <label  for="protocolo" class="form-label">Protocolo</label>
              <input type="text" class="form-control" id="protocolo" formControlName="protocolo" [attr.disabled]='disabledForm ? true : null'>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-end">
          <div class="mx-3">
              <button class="btn btn-primary btn-lg" type="submit" [disabled]="!formProducto.valid" *ngIf='!disabledForm'>{{modo === 'EDITAR' ? 'Editar' : 'Crear' }} Producto</button>
              <button class="btn btn-primary btn-lg" type="button" disabled *ngIf='disabledForm'>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Cargando...
              </button>
          </div>
      </div>
    </form>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center h-100" *ngIf='cargando'>
  <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>


<app-toast></app-toast>