<div class="m-4" (click)='volver()' role="button">
  <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>
<div class="mx-4">
  <div class="text-center my-4">
      <h2>{{modo === 'EDITAR' ? 'Editar' : 'Crear' }} Stock</h2>
  </div>
<div class="card rounded shadow p-4 m-5">

<form [formGroup]="formStock" (ngSubmit)="productoEnStock()">
      <div class="m-3">
          <label  for="producto" class="form-label">Producto</label>
          <select class="form-control" aria-label=".form-select-lg example" id="producto" formControlName="producto">
            <option *ngFor='let producto of productos' value="{{producto.id_producto}}">{{producto.nombre}}</option>
          </select>
      </div> 
      <div class="m-3">
            <label for="lote" class="form-label">Lote</label>
            <input type="text" class="form-control" id="lote" formControlName="lote">
      </div> 
      <div class="m-3">
            <label for="unidad" class="form-label">Unidades</label>
            <input type="number" class="form-control" id="unidad" formControlName="unidad">
      </div> 
      <div class=" m-3">
          <label  for="codigoContenedor" class="form-label">Contenedor</label>
          <select class="form-control" aria-label=".form-select-lg example" id="contenedor" formControlName="contenedor">
            <option *ngFor='let contenedor of contenedores' value="{{contenedor.id_contenedor}}">{{contenedor.nombre}}</option>
          </select>
      </div>
      <div class="m-3">
              <label for="detalleUbicacion" class="form-label">Detalle Ubicación</label>
              <input type="text" class="form-control" id="detalleUbicacion" formControlName="detalleUbicacion">
      </div>
      <div class="m-3">
        <label for="fechaVencimiento" class="form-label">Fecha Vencimiento</label>
        <input type="date" class="form-control" id="fechaVencimiento" formControlName="fechaVencimiento">
</div> 
      <div class="d-flex flex-row justify-content-end">
          <div class="mx-3">
              <button class="btn btn-primary btn-lg" type="submit" [disabled]="!formStock.valid">Guardar</button>
          </div>
      </div>
  </form>
</div>

<div class="card rounded shadow p-4 mb-4">
  <table class="table table-hover">
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Lote</th>
            <th scope="col">Unidad</th>
            <th scope="col">Contenedor</th>
            <th scope="col">Detalle Ubicación</th>
            <th scope="col">Fecha de vencimiento</th>

            <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let nuevoStock of nuevoStocks; let i = index'>
              <th scope="row">{{i + 1}}</th>
              <td>{{nuevoStock.id_producto}}</td>
              <td>{{nuevoStock.producto[0].lote}}</td>
              <td>{{nuevoStock.producto[0].unidad}}</td>
              <td>{{contenedores[nuevoStock.producto[0].codigoContenedor-1]?.nombre}}</td>
              <td>{{nuevoStock.producto[0].detalleUbicacion}}</td>
              <td>{{nuevoStock.producto[0].fechaVencimiento | date: 'shortDate'}}</td>
          </tr>
      </tbody>
  </table>
</div>
</div>
<div class="d-flex flex-row justify-content-end">
  <div class="mx-3">
      <button class="btn btn-success btn-lg" (click)='volver()' >Aceptar cambios</button>
  </div>
</div>