form{
    padding: 3em;
    margin: 3em;
    padding-top: 0px;
}
.alert{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}
@media screen and (max-width: 360px){
    button{
        width: 100%;
        margin-left: 0px;
    }
    form{
        padding: 1em;
        margin: 0.5em;
    }   
}