<div class="m-4" routerLink="../" role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>
  <h3 class="text-center mt-4" >Agregar Stock</h3>
  <div class="card rounded shadow p-4 m-5">
  <form>
    <div class=" m-3">
        <label  class="form-label">Producto</label>
            <select class="form-control" aria-label=".form-select-lg example">
                <option selected>Seleccionar producto</option>
                <option value="1">aaaa</option>
                <option value="2">bbbb</option>
                <option value="3">ccccc</option>
                <option value="3">dddd</option>
              </select>
      </div>
            <div class="m-3">
                <label  class="form-label">Descripcion</label>
                <input type="" class="form-control">
            </div> 
          <div class="m-3">
              <label  class="form-label">Lote</label>
              <input type="" class="form-control">
          </div> 
          <div class="m-3">
              <label  class="form-label">Vencimiento</label>
              <input type="date" class="form-control">
          </div> 
        <div class=" m-3">
          <label  class="form-label">Contenedor</label>
          <div class="input-group mb-3">
              <select class="form-control" aria-label=".form-select-lg example">
                  <option selected>Seleccionar Contenedor</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          <button class="btn btn-secondary" type="button" id="button-addon2" routerLink="nuevo-contenedor">Nuevo Contenedor</button>
          </div>
        </div>
        <div class=" m-3">
            <label  class="form-label">Asociar Compra</label>
            <div class="input-group mb-3">
                <select class="form-control" aria-label=".form-select-lg example">
                    <option selected>Seleccionar Compra</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
          </div>
    </form>
    <div class="text-center">
      <button type="button" class="btn btn-success btn-lg">Guardar</button>
  </div>
  </div>