<div *ngIf='step === 6' class="mx-4">        
        <div class="card rounded shadow p-4 mb-4">
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Detalle</th>
                      <th></th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                      <tr *ngFor='let a of herramientasFiltradas;let i = index'>
                        <th scope="row">{{i + 1}}</th>
                        <td>{{a.nombre}}</td>
                        <td>{{a.detalle}}</td>
                        <td>
                          <div class="mr-4">
                            <a class="text-success" role="button" (click)=irBlogs(a)>
                              <i class="bi bi-book">  Ver Blogs</i>
                            </a>
                          </div>
                         </td>
                        <td class="d-flex">
                          <div class="mr-4">
                            <a class="text-primary" role="button" (click)=editar(a)>
                              <i class="bi bi-pencil"></i>
                            </a>
                          </div>
                          <div>
                            <a class="text-danger" role="button" (click)=eliminar(a)>
                              <i class="bi bi-trash"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                </tbody>
              
            </table>
        </div>
    <button class="btn btn-primary" (click)=nuevaHerramienta()>Nueva Herramienta</button>
</div>

<div *ngIf='step === 7'>
  <app-nueva-herramienta
  [id_espacio] = 'id_espacio'
  [element]='herramientaSeleccionada'
  [modo]='modo'
  (volviendo)='onVolviendo($event)'
  >
</app-nueva-herramienta>
</div>

<div *ngIf='step === 8'>
  <app-blog-herramientas
  [herramienta]='herramientaSeleccionada'  
  (volviendo)='onVolviendo($event)'
  >
</app-blog-herramientas>
</div> 