<div *ngIf='!cargando'> 
    <div class="text-black ml-3 mt-3" routerLink="../" role="button" style="position: relative;">
        <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
      </div>
      <div class="mb-5">
          <h2 class="text-center text-staatliches title ">Jaula - {{jaula?.codigo}}</h2>
      </div>
      <ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Información</a>
            <ng-template ngbNavContent>
                <div class="mx-4">
                    <div class="d-flex bd-highlight mb-3 card-header">
                        <div class="p-2 w-75 bd-highlight">
                            <h4 class="text-secondary text-staatliches mb-0">Proyecto Asociado</h4>
                            <p class='m-1' *ngIf="miProyecto?.nombre.length > 0 ">{{miProyecto?.nombre}} - {{miProyecto?.codigoProyecto}}</p>
                            <p class='m-1' *ngIf="miProyecto?.nombre.length == undefined ">Sin Asignar</p>
                        </div>
                        <div class="ms-auto p-2 bd-highlight">
                            <button class="btn btn-outline-secondary" style="cursor: pointer" (click)=open(asociarP) ><i class="bi bi-link text-secondary"></i> Asociar Proyecto</button>
                        </div>
                      </div>
                      <div class="ubicacion-jaula">
                        <div class="ubicacion__fila">
                          <div class="">
                            <h4 class="text-secondary text-staatliches ">Ubicación</h4>
                            <p class="mb-0">{{espacioFisico?.nombre}}</p>  
                          </div>
                          <div class="">
                            <h4 class="text-secondary text-staatliches ">Tipo</h4>
                            <p class="mb-0">{{jaula?.tipo}}</p>  
                          </div>
                        </div>
                        <div class="ubicacion__fila">
                          <div class="">
                            <h4 class="text-secondary text-staatliches ">Estante</h4>
                            <p class="mb-0">{{jaula?.estante}}</p>
                          </div>
                          <div class="">
                            <h4 class="text-secondary text-staatliches ">Rack</h4>
                            <p class="mb-0">{{jaula?.rack}}</p>
                          </div>
                        </div>
                    </div>
                    </div>
              <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight"><button type="button" class="btn btn-outline-danger" (click)=open(eliminarJaulaModal)><i class="bi bi-trash text-danger"></i> Eliminar Jaula</button></div>
                <div class="p-2 bd-highlight"><button class="btn btn-outline-primary" style="cursor: pointer" routerLink='editar-jaula'><i class="bi bi-pencil text-primary"></i> Editar</button></div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Animales</a>
            <ng-template ngbNavContent>
                <div class="table-animales">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-secondary text-staatliches card-header">
                              <th scope="col">Código</th>
                              <th scope="col">Especie</th>
                              <th scope="col">Cepa</th>
                              <th scope="col">Sexo</th>
                              <th><a class="link-primary" style="cursor: pointer" routerLink='alta-animal'> + Agregar</a></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor='let animal of animales'>
                                <th scope="">{{animal.id_fuenteExperimental}}</th>
                                <th scope="col">{{animal.especie}}</th>
                                <th scope="col">{{animal.cepa}}</th>
                                <th scope="col">{{animal.sexo}}</th>
                                <th><div class="mr-4">
                                    <a class="text-danger" role="button"  (click)=eliminarModalAnimal(animal.id_fuenteExperimental,eliminarAnimalModal)>
                                      <i class="bi bi-trash"></i>
                                    </a>
                                  </div></th>
                            </tr> 
                          </tbody>
                    </table>
                      <div *ngIf='animales?.length === 0' class="text-center" style='color: darkred;'>
                        <i class="bi bi-shield-exclamation" style="font-size: 3em"></i>
                        <h5 style='color: darkred;'>No hay animales en la jaula</h5>
                      </div>
                  </div>         
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Blogs</a>
            <ng-template ngbNavContent>
                <div class="busqueda-blogs">
                  <div class="form-group my-2">
                    <button class="btn btn-outline-success" (click)="open(blog)">Nueva Entrada</button>
                  </div>
                  <div class="barra m-2"></div>
                    <div class="search-container-blog">
                      <div class="form-group my-2">
                        <div class="input-group">
                          <input class="form-control" placeholder="Fecha Desde" id="fecDesde" 
                                 name="dp" [(ngModel)]="fecDesde" ngbDatepicker #d="ngbDatepicker">
                          <div class="">
                            <button class="btn btn-outline-secondary " (click)="d.toggle()" type="button"><i class="bi bi-calendar"></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group my-2">
                        <div class="input-group">
                          <input class="form-control" placeholder="Fecha Hasta" id="fecHasta" 
                                 name="dp2" [(ngModel)]="fecHasta" ngbDatepicker #d2="ngbDatepicker">
                          <div class="">
                            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button"><i class="bi bi-calendar"></i></button>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-outline-secondary filtrar"  (click)=Buscar() >Filtrar</button>
                    </div>
                </div>
                <div class="" >
                  <ng-container *ngFor='let a of blogs;let i = index'  >
                      <ng-container *ngIf = 'i%2==0'>
                        <div class="card-blog shadow rounded">
                          <div class="fecha-blog">
                            <i class="bi bi-journals m-2"></i>
                            <h6 class="card-title text-center">{{a.fecha | date: 'dd/MM/yy'}}</h6>
                          </div>
                          <div class="blog-detalle" >
                            <h5 class="card-title card-header">Jaula {{a.codigoJaula}} - Blog N° {{a.id_blog}}</h5>
                            <p class="mb-1"><i>  usuario :{{a.id_usuario}}</i></p>
                            <p>{{a.detalle}}</p>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf = 'i%2!=0'>
                        <div class="card-blog shadow rounded">
                          <div class="blog-detalle" >
                            <h5 class="card-title card-header">Jaula {{a.codigoJaula}} - Blog N° {{a.id_blog}}</h5>
                            <p class="mb-1"><i>  usuario :{{a.id_usuario}}</i></p>
                            <p>{{a.detalle}}</p>
                          </div>
                          <div class="fecha-blog">
                            <i class="bi bi-journals m-2"></i>
                            <h6 class="card-title text-center">{{a.fecha | date: 'dd/MM/yy'}}</h6>
                          </div>
                        </div>
                      </ng-container>
                  </ng-container>
              </div>
              <div *ngIf='blogs?.length === 0' class="text-center" style='color: darkred;'>
                <i class="bi bi-shield-exclamation" style="font-size: 3em"></i>
                <h5 style='color: darkred;'>No hay blogs existentes</h5>
              </div>
            </ng-template>
          </li>
        </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<div class="d-flex justify-content-center align-items-center h-100" *ngIf='cargando'>
  <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
  </div>
</div>

      <ng-template #asociarP let-modal class="modal-dialog-asociar" >
        <div class="modal-body" >
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Asociar Proyecto</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="body-asociar">
                        <div class="m-2">
                            <label for="tipo" class="form-label">Seleccione Proyecto</label>
                          <select class="form-control" aria-label=".form-select-lg example" [(ngModel)]='idProyecto_asociar' [attr.disabled]='disabledForm ? true : null'>
                            <option value="0">Sin Asignar</option>
                            <option *ngFor='let proyecto of proyectos' value="{{proyecto.id_proyecto}}">{{proyecto.nombre}}</option>
                          </select>
                        </div>
                    <div class="imagenModal col d-flex justify-content-center align-items-center w-50">
                      <i class="bi bi-file-earmark-text" style="font-size: 8em;"></i>
                    </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-lg mr-3"  (click)=asociar() *ngIf='!disabledForm'>Asociar</button>
            <button class="btn btn-primary btn-lg" type="button" disabled *ngIf='disabledForm'>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Cargando...
          </button>
        </div>
      </ng-template>

      <ng-template #blog let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Crear Publicacion</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="body-crear_blog">
            <div class="">
              <label for="tipo" class="form-label">Escriba una publicacion</label>
              <textarea class="form-control" id='descripcion' aria-label="With textarea" rows="6" placeholder="Escriba el detalle del Blog" [(ngModel)]='detalleBlog' [attr.disabled]='disabledForm ? true : null'></textarea>
            </div>
            <div class="imagenModal">
              <i class="bi bi-file-earmark-text" style="font-size: 8em;"></i>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-lg mr-3" (click)='crearBlog()' *ngIf='!disabledForm'>Crear</button>
            <button class="btn btn-primary btn-lg" type="button" disabled *ngIf='disabledForm'>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Cargando...
          </button>
        </div>
      </ng-template>

      <ng-template #eliminarJaulaModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Eliminar Jaula</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <div class="row detalle-eliminar_jaula">
            <div class="col-8 form-group d-flex m-2 align-items-center">
              <i class="bi bi-exclamation-triangle m-2" style="font-size: 2em;"></i>
              <label for="tipo" class="form-label m-4">¿Está seguro que desea eliminar la jaula de forma permanente?</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-lg mr-3" (click)="modal.dismiss('Cross click')">Cancelar</button>
          <button class="btn btn-primary btn-lg mr-3" (click)= eliminarJaula() *ngIf='!disabledForm'>Eliminar</button>
          <button class="btn btn-primary btn-lg" type="button" disabled *ngIf='disabledForm'>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
             Cargando...
          </button>
        </div>
      </ng-template>

      <ng-template #eliminarAnimalModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Eliminar</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <div class="row detalle-eliminar_animal">
            <div class="col-8 form-group d-flex m-2 align-items-center">
              <i class="bi bi-exclamation-triangle m-2" style="font-size: 2em;"></i>
              <label for="tipo" class="form-label m-4">¿Está seguro que desea eliminar el animal de forma permanente?</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-lg mr-3" (click)="modal.dismiss('Cross click')">Cancelar</button>
          <button class="btn btn-primary btn-lg mr-3" (click)= eliminarAnimal() *ngIf='!disabledForm'>Eliminar</button>
          <button class="btn btn-primary btn-lg" type="button" disabled *ngIf='disabledForm'>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
             Cargando...
          </button>
        </div>
      </ng-template>
    
<app-toast></app-toast>