.search-container{
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.form-group{
    margin: 2px;
    display: flex;
    width: auto;
}
.table{
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
    font-weight: bold;
}
.card-blog{
    width: 95%;
    margin: 1em;
    vertical-align: auto;
    align-items: center;
    background-color: rgba(93, 155, 209, 0.082);
    display: flex;
}
.blog{
    width: 100%;
    margin-left: 5px;
}
.barra{
    border: none;
    border-left: 2px solid #999;
    background-color: rgb(148, 148, 148);
    height: 40px;
    width: 2px;
}
.ubicacion{
    display: flex;
    flex: row;
    text-align: center;
}
.fila{
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}
select{
    width: 400px;
}
.table-responsive{
    margin: 2em;
}
.busqueda{
    display: flex;
    flex-direction: row;
    margin: 1em; 
}
.fecha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding:0.7em;
}
.body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
textarea{
    width: 200% ;
}
.row{
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 360px){
    .fila{
        display: flex;
        flex-direction: row;
        margin: 0.5em;
        width: 100%;
        justify-content: space-around;
        text-align: center;
    }
    .ubicacion, .busqueda{
        display: block;
    }
    label,input,select{
        width: 100%;
    }
    .imagenModal, .barra{
        display: none !important;
    }
    .modal-dialog{
        width: 50%;
        height: 50%;
    }
    .table-responsive{
        margin:0px;
    }
    .search-container{
        width: 100%;
        height: auto;
        display: block;
        align-items: center;
    }
    .btn{
        width: 100%;
    }
    label,textarea{
        width:auto;
        margin: 0px;
    }
    .card-blog{
        margin-left: 7px;
    }
}
