
    <div class="text-black ml-3 mt-3" routerLink="../" role="button" style="position: relative;">
      <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
    </div>
    <div class="mb-5">
        <h2 class="text-center ">Jaula - {{jaula?.codigo}}</h2>
    </div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Información</a>
          <ng-template ngbNavContent>
            <div class="card text-center m-5">
              <div class="card-header" *ngIf="jaula?.nombre_proyecto.length >0 ">
               Proyecto Asociado: {{jaula?.nombre_proyecto}}
              </div>
              <div class="card-header" *ngIf="jaula?.nombre_proyecto == '' ">
                Proyecto Asociado: Sin Asignar
               </div>
              <div class="card-body">
                <h5 class="card-title">Ubicación</h5>
                <p class="card-text">Rack {{jaula?.rack}} - Estante {{jaula?.estante}} </p>
                <p class="card-text">Tipo {{jaula?.tipo}}</p>
                <a class="btn btn-primary" routerLink='editar-jaula'>Editar Información</a>
              </div>
            </div>
            <div class="d-flex bd-highlight">
              <div class="p-2 flex-grow-1 bd-highlight"><button type="button" class="btn btn-outline-danger" (click)=eliminarJaula()>Eliminar Jaula</button></div>
              <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary" routerLink='asociar-proyecto'>Asociar Proyecto</button></div>
            </div>
            <div class="alert alert-{{estado}} mt-3" role="alert" *ngIf='alert'>
              {{mensajeAlert}}
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Animales</a>
          <ng-template ngbNavContent>
            <div class="search-container flex-wrap">
                <div class="input-group mb-3">
                    <!-- <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="text" class="form-control" id="filtro" placeholder="Filtrar según cepa"> -->
                </div>
                <div>
                    
                </div>
            </div>
            <div class="m-2">
            <table class="table table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Especie</th>
                    <th scope="col">Cepa</th>
                    <th scope="col">Sexo</th>
                    <th><a class="link-primary" style="cursor: pointer" routerLink='alta-animal'>+Agregar</a></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let animal of animales'>
                        <th scope="col">{{animal.id_fuenteExperimental}}</th>
                        <th scope="col">{{animal.especie}}</th>
                        <th scope="col">{{animal.cepa}}</th>
                        <th scope="col">{{animal.sexo}}</th>
                        <th><div class="mr-4">
                            <a class="text-danger" role="button" (click)=eliminar(animal.id_fuenteExperimental)>
                              <i class="bi bi-trash"></i>
                            </a>
                          </div></th>
                    </tr>                
                </tbody>
              </table>
              <div class="alert alert-danger text-center" role="alert" *ngIf='animales.length === 0 '>
                No hay animales en la Jaula
              </div> 
              <div class="alert alert-{{estado}} mt-3" role="alert" *ngIf='alert'>
                {{mensajeAlert}}
              </div>
            </div>
            
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Blogs</a>
          <ng-template ngbNavContent>
            <div class="card rounded shadow m-3 p-4">
              <form [formGroup]="formFecha" (ngSubmit)="Buscar()">
                <div class="row">
                  <div class="col">
                    <label for="fecDesde" class="form-label">Fecha inicial</label>
                    <input type="date" class="form-control" id="fecDesde" formControlName="fecDesde">
                  </div>
                  <div class="col">
                    <label for="fecHasta" class="form-label">Fecha final</label>
                    <input type="date" class="form-control" id="fecHasta" formControlName="fecHasta">
                  </div>
                  <button class="btn btn-success btn-lg " type="submit" [disabled]="!formFecha.valid">Buscar</button>
                </div>
              </form>
            </div>
            <div class="d-flex bd-highlight">
              <div class="p-2 flex-grow-1 bd-highlight"></div>
              <div class="p-2 bd-highlight"><button type="button" class="btn btn-primary" routerLink='entrada-blog'>Nuevo Blog</button></div>
            </div>
            <div class="row m-2" >
              <ng-container *ngFor='let a of blogs;let i = index'>
                  <div class="col-1 d-flex flex-column  align-items-center">
                    <div class="rounded-circle border border-dark d-flex justify-content-center align-items-center m-2" style="width: 40px; height: 40px;">
                        <i class="bi bi-journal"></i>
                    </div>
                    <p class="text-center mb-0">{{a.fecha | date: 'shortDate'}}</p>
                  </div>
                  <div class=" col-11 card shadow  mb-3">
                    <div class="card-header"><strong>Blog n°{{i+1}}</strong></div> 
                    <p class="mb-1"><i>{{a.id_usuario}}</i></p>
                    <p>{{a.detalle}}</p>
                  </div>
              </ng-container>
            </div>
            <div class="alert alert-danger text-center" role="alert" *ngIf='blogs.length === 0 '>
              No existen blogs
            </div> 
          </ng-template>
        </li>
      </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>