<div class="m-4" routerLink="../" role="button">
  <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>
<h3 class="text-center mt-4">Nuevo Producto</h3>
<div class="card rounded shadow p-4 m-5">
<form>
        <div class="m-3">
          <label  class="form-label">Nombre</label>
          <input type="" class="form-control">
        </div> 
        <div class="m-3">
            <label  class="form-label">Detalles Técnicos</label>
            <input type="" class="form-control">
        </div> 
        <div class="m-3">
            <label  class="form-label">Protocolo Asociado</label>
            <input type="" class="form-control">
        </div> 
        <div class=" m-3">
            <label  class="form-label">Unidad de Agrupacion</label>
                <select class="form-control" aria-label=".form-select-lg example">
                    <option selected>Seleccionar unidad de agrupación</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
          </div>
      <div class=" m-3">
        <label  class="form-label">Distribuidora</label>
        <div class="input-group mb-3">
            <select class="form-control" aria-label=".form-select-lg example">
                <option selected>Seleccionar Distribuidora</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        <button class="btn btn-secondary" type="button" id="button-addon2">Nueva Distribuidora</button>
        </div>
      </div>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-outline-primary btn-lg">Guardar</button>
</div>
</div>