<div class="m-4" routerLink="../" role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>

<div class="text-center m-4">
  <h2>Productos en el Sistema</h2>
</div>

<div class="search-container flex-wrap">
  <div class="input-group mb-3">
      <span class="input-group-text">
          <i class="bi bi-search"></i>
      </span>
      <input type="text" class="form-control" id="usuario" placeholder="Buscar por Nombre de Producto">
  </div>
  <div>
      <button type="button" class="btn btn-primary btn-lg" routerLink='nuevo-producto'>Nuevo Producto</button>
  </div>
</div>

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Producto</th>
      <th scope="col">Detalles Tecnicos</th>
      <th scope="col">Protocolo Asociado</th>
      <th scope="col">Unidad de agrupacion</th>
      <th scope="col">Distribuidora</th>
      <th scope="col">Fecha de vencimiento</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>aaaa</td>
      <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi minus laboriosam obcaecati cumque velit, quasi vero officiis</td>
      <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi minus laboriosam obcaecati cumque velit, quasi vero officiis</td>
      <td>12</td>
      <td>Lorem ipsum dolor sit</td>
      <td>12/5/2021</td>
      <button type="button" class="btn btn-outline-secondary m-4" routerLink='nuevo-producto'>Modificar</button>
      <button type="button" class="btn btn-outline-danger ">Eliminar</button>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>aaaa</td>
      <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi minus laboriosam obcaecati cumque velit, quasi vero officiis</td>
      <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi minus laboriosam obcaecati cumque velit, quasi vero officiis</td>
      <td>12</td>
      <td>Lorem ipsum dolor sit</td>
      <td>12/5/2021</td>
      <button type="button" class="btn btn-outline-secondary m-4" routerLink='nuevo-producto'>Modificar</button>
      <button type="button" class="btn btn-outline-danger">Eliminar</button>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>aaaa</td>
      <td>Lorem ipsum dolor sit, amet consectetur adipisicing   elit. Nisi minus laboriosam obcaecati cumque velit, quasi vero officiis</td>
      <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi minus laboriosam obcaecati cumque velit, quasi vero officiis</td>
      <td>12</td>
      <td>Lorem ipsum dolor sit</td>
      <td>12/5/2021</td>
      <button type="button" class="btn btn-outline-secondary m-4" routerLink='nuevo-producto'>Modificar</button>
      <button type="button" class="btn btn-outline-danger">Eliminar</button>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>aaaa</td>
      <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi minus laboriosam obcaecati cumque velit, quasi vero officiis</td>
      <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi minus laboriosam obcaecati cumque velit, quasi vero officiis</td>
      <td>12</td>
      <td>Lorem ipsum dolor sit</td>
      <td>12/5/2021</td>
      <button type="button" class="btn btn-outline-secondary m-4" routerLink='nuevo-producto'>Modificar</button>
      <button type="button" class="btn btn-outline-danger">Eliminar</button>
    </tr>
  </tbody>
</table>


