.search-container{
    width: 100%;
    padding: 0.7em;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.search-container .form-control{
    width: 32%;
}

.input-group{
    width: 32%;
}