.search-container{
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.barra{
    border: none;
    border-left: 2px solid #999;
    background-color: rgb(148, 148, 148);
    height: 100px;
    width: 2px;
}
.card{
    width: auto;
    height: auto;
}
.barra2{
    border: none;
    border-left: 2px solid #999;
    background-color: rgb(148, 148, 148);
    height: 30px;
    width: 2px;
}
.barra3{
    border: none;
    border-left: 2px solid #999;
    background-color: rgb(148, 148, 148);
    height: 50px;
    width: 2px;
}
.card-stock{
    width: auto;
    height: 50%;
    margin: auto;
}
.card-blog{
    width: 100%;
    margin: auto;
    vertical-align: auto;
    align-items: center;
    background-color: rgba(93, 155, 209, 0.082);
}
.herramienta-container{
    width: 30%;
    margin: auto;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.search-container .form-control{
    width: 32%;
}

.input-group{
    width: 32%;
}
