<div>
  <div class="m-4" (click)='volver()' role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
  </div>
  <div class="text-center m-3">
    <h2>{{element.nombre}}</h2>
  </div>
</div>
<ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
  <li [ngbNavItem]="1" >
    <a ngbNavLink (click)= irStock()>Stock</a>
    <ng-template ngbNavContent>
    </ng-template>
  </li>

  <li [ngbNavItem]="2">
    <a ngbNavLink (click)= irBlogs()>Blog Espacio Fisico</a>
    <ng-template ngbNavContent>
    </ng-template>
  </li>

  <li [ngbNavItem]="3">
    <a ngbNavLink (click)= irHerramientas()>Herramientas</a>
    <ng-template ngbNavContent>
    </ng-template>
  </li>
  <!-- <li [ngbNavItem]="4">
    <a ngbNavLink (click)=>Blogs Stock</a>
    <ng-template ngbNavContent>
    </ng-template>
  </li> -->
</ul>

<div *ngIf='step === 1'>
  <div class="mx-4">        
      <div class="card rounded shadow p-4 mb-4 table-responsive">
          <table class="table table-hover text-center">
              <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Lote</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Contenedor</th>
                    <th scope="col">Detalle Ubicación</th>
                    <th scope="col">Fecha de vencimiento</th>
                    <th><i class="bi bi-bag-check"></i></th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor='let a of stocks;let i = index'>
                    <tr *ngFor='let stock of a.producto; let j = index'>
                      <th scope="row">{{i + 1}}</th>
                      <td>{{a.nombre}}</td>
                      <td>{{stock.lote}}</td>
                      <td>{{stock.unidad}}</td>
                      <td>{{contenedores[stock.codigoContenedor-1]?.nombre}}</td>
                      <td>{{stock.detalleUbicacion}}</td>
                      <td>{{stock.fechaVencimiento | date: 'shortDate'}}</td>
                      <td>
                          <a class="text-success" role="button" (click)=consumir(a,j)>
                            <i>Consumir</i>
                          </a>
                      </td>
                      <td class="d-flex">
                          <div class="mr-4">
                            <a class="text-primary" role="button" (click)=editar(a,j) >
                              <i class="bi bi-pencil"></i>
                            </a>
                          </div>
                          <div>
                            <a class="text-danger" role="button" (click)=eliminar(a,j)>
                              <i class="bi bi-trash"></i>
                            </a>
                          </div>
                      </td>
                    </tr>
                  </ng-container>
                  

              </tbody>
            
          </table>
      </div>
  <button class="btn btn-primary" (click)=crear()>Agregar Stock</button>
  </div>
</div>
<div *ngIf='step === 2'>
  <app-agregar-stock
  [element]='productoSeleccionado'
  [idProducto]='idProducto'
  [espacio] = 'espacio'
  [modo]='modo'
  (volviendo)='onVolviendo($event)'
  >
</app-agregar-stock>
</div>
<div *ngIf='step === 3'>
  <app-consumir-stock
  [element]='productoSeleccionado'
  [idProducto]='idProducto'
  [espacio] = 'espacio'
  (volviendo)='onVolviendo($event)'
  >
</app-consumir-stock>
</div>

<div *ngIf='step === 4'>
  <app-blogs-espacio-fisico
  [espacio]='espacio'  
  (volviendo)='onVolviendo($event)'
  >
</app-blogs-espacio-fisico>
</div>

<div *ngIf='step === 6'>
  <app-herramientas
  [espacio] = 'espacio'
  (volviendo)='onVolviendo($event)'
  >
</app-herramientas>
</div>


