.home{
    min-height: 100vh;
}
.navbar{
    display: none;
}

.contenido{
    width: 100%;
    /* background-color: rgb(230, 230, 230); */
}
@media screen and (max-width: 1024px){
    .navbar{
        display:block;
    }
      
}