<h3>Configuracion</h3>
<div class="container mt-5">
  <div class="card rounded shadow my-3 d-flex flex-row justify-content-between align-items-center" routerLink="usuarios" style="min-height: 5em;">
    <div class="d-flex justify-content-center align-items-center ml-3">
      <i class="bi bi-person-fill" style="color: #033980; font-size: 2em;"></i>
      <h5 class="mb-0">Usuarios</h5>
    </div>
    <p class="mb-0"><i>Crear, editar o eliminar usuarios</i></p>
    <i class="bi bi-arrow-right-circle-fill mr-3" style="color: #033980;"></i>
  </div>
  <div class="card rounded shadow my-3 d-flex flex-row justify-content-between align-items-center" routerLink="grupo-trabajo" style="min-height: 5em;">
    <div class="d-flex justify-content-center align-items-center ml-3">
      <i class="bi bi-person-fill" style="color: #033980; font-size: 2em;"></i>
      <h5 class="mb-0">Grupos de trabajo</h5>
    </div>
    <p class="mb-0"><i>Crear, editar y dar de baja los grupos de trabajo.</i></p>
    <i class="bi bi-arrow-right-circle-fill mr-3" style="color: #033980;"></i>
  </div>
  <div class="card rounded shadow my-3 d-flex flex-row justify-content-between align-items-center" routerLink="productos" style="min-height: 5em;">
    <div class="d-flex justify-content-center align-items-center ml-3">
      <i class="bi bi-person-fill" style="color: #033980; font-size: 2em;"></i>
      <h5 class="mb-0">Productos</h5>
    </div>
    <p class="mb-0"><i>Crear, editar y dar de baja productos en el sistema.</i></p>
    <i class="bi bi-arrow-right-circle-fill mr-3" style="color: #033980;"></i>
  </div>
  <div class="card rounded shadow my-3 d-flex flex-row justify-content-between align-items-center" routerLink="distribuidoras" style="min-height: 5em;">
    <div class="d-flex justify-content-center align-items-center ml-3">
      <i class="bi bi-person-fill" style="color: #033980; font-size: 2em;"></i>
      <h5 class="mb-0">Distribuidoras</h5>
    </div>
    <p class="mb-0"><i>Crear, editar y dar de baja productos en el sistema.</i></p>
    <i class="bi bi-arrow-right-circle-fill mr-3" style="color: #033980;"></i>
  </div>
  <div class="card rounded shadow my-3 d-flex flex-row justify-content-between align-items-center" routerLink="espacio-fisico" style="min-height: 5em;">
    <div class="d-flex justify-content-center align-items-center ml-3">
      <i class="bi bi-person-fill" style="color: #033980; font-size: 2em;"></i>
      <h5 class="mb-0">Espacio Fisico</h5>
    </div>
    <p class="mb-0"><i>Crear, editar y dar de baja espacios fisicos en el sistema.</i></p>
    <i class="bi bi-arrow-right-circle-fill mr-3" style="color: #033980;"></i>
  </div>
  <div class="card rounded shadow my-3 d-flex flex-row justify-content-between align-items-center" routerLink="contenedores" style="min-height: 5em;">
    <div class="d-flex justify-content-center align-items-center ml-3">
      <i class="bi bi-person-fill" style="color: #033980; font-size: 2em;"></i>
      <h5 class="mb-0">Contenedores</h5>
    </div>
    <p class="mb-0"><i>Crear, editar y dar de baja contenedores en el sistema.</i></p>
    <i class="bi bi-arrow-right-circle-fill mr-3" style="color: #033980;"></i>
  </div>
</div>