<h3 class="text-center mt-5">Configuracion</h3>
<div class="container mt-5">
    <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" routerLink="usuarios">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Usuarios</div>
            Crear, editar y dar de baja usuarios en el sistema.
          </div>
          <i class="bi bi-arrow-right-square-fill"></i>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" routerLink="productos">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Productos</div>
            Crear, editar y dar de baja productos en el sistema.
          </div>
          <i class="bi bi-arrow-right-square-fill"></i>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" routerLink="distribuidoras">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Distribuidoras</div>
            Crear, editar y dar de baja distribuidoras en el sistema.
          </div>
          <i class="bi bi-arrow-right-square-fill"></i>
        </li>
      </ol>
</div>