<div *ngIf='step === 0'>
<div class="m-4" routerLink="../" role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>

<div class="text-center m-4">
  <h2>Productos en el Sistema</h2>
</div>

<div class="search-container flex-wrap">
  <div class="input-group mb-3">
      <span class="input-group-text">
          <i class="bi bi-search"></i>
      </span>
      <input type="text" class="form-control" id="usuario" placeholder="Buscar por Nombre de Producto">
  </div>
  <div>
      <button type="button" class="btn btn-primary btn-lg" (click)=crear() >Nuevo Producto</button>
  </div>
</div>

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Marca</th>
      <th scope="col">Distribuidora</th>
      <th scope="col">Tipo</th>
      <th scope="col">Aka</th>
      <th scope="col">Url</th>
      <th scope="col">Unidad de agrupacion</th>
      <th scope="col">Detalles Técnicos</th>
      <th scope="col">Protocolo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let producto of productos; let i = index'>
      <th scope="row">{{i +1}}</th>
      <td>{{producto.nombre}}</td>
      <td>{{producto.marca}}</td>
      <!-- <td>{{distribuidoras[producto.id_distribuidora -1]?.nombre}}</td>  HAY QUE VER PARA Q SE PONGA EL NOMBRE--> 
      <td>{{producto.id_distribuidora}}</td>
      <td>{{producto.tipo}}</td>
      <td>{{producto.aka}}</td>
      <td>{{producto.url}}</td>
      <td>{{producto.unidadAgrupacion}}</td>
      <td>{{producto.detallesTecnicos}}</td>
      <td>{{producto.protocolo}}</td>
      <td class="d-flex">
          <div class="mr-4">
            <a class="text-primary" role="button" (click)=editar(producto)>
              <i class="bi bi-pencil"></i>
            </a>
          </div>
          <div>
            <a class="text-danger" role="button" (click)=eliminar(producto)>
              <i class="bi bi-trash"></i>
            </a>
          </div>
        </td>
      
  </tr>
  </tbody>
</table>
</div>
<div *ngIf='step === 1'>
  <app-nuevo-producto
  [element]='productoSeleccionado'
  [modo]='modo'
  (volviendo)='onVolviendo($event)'
  >
</app-nuevo-producto>
</div>


