.contenedor{
    margin: 0 4em;
}
.formulario{
    display: flex;
    justify-content: space-around;
}
form{
    width: 60%;
}
.boton{
    text-align: center;
    margin-top: 2em;
}
.form__item{
    margin-top: 2em;
}
@media screen and (max-width: 360px){
    .contenedor{
        margin: 0 2em;
    }
    button{
        width: 100%;
    }
    .form__item{
        margin-top: 1em;
    }
    .imagenModal{
        display: none;
    }
    form{
        width: 100%;
    }
  }