<div class="m-4" routerLink="../../" role="button">
  <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>

  <div class="encabezado">
    <div class="titulo">
      <h2 class="">Experimento - {{experimento?.codigo}}</h2>
      <div class="editar-finalizar" *ngIf='!experimento?.finalizado'>
        <button class="btn btn-outline-primary" style="cursor: pointer" routerLink='../../editar-experimento/{{idExperimento}}'><i class="bi bi-pencil text-primary"></i> Editar</button>
        <button class="btn btn-outline-danger finalizar" (click)="open(finalizarExperimento,true)">Finalizar Experimento</button>
      </div>
    </div>
    <span class="text-danger" *ngIf='experimento?.finalizado'>Experimento cerrado</span>
  </div>

    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink>Detalles</a>
            <ng-template ngbNavContent>
              <div class="detalles">

                <div class="">
                  <h4 class="text-secondary text-staatliches mb-0">Objetivo del Experimento</h4>
                  <p>{{experimento?.objetivos}}</p>
                  <h4 class="text-secondary text-staatliches mb-0">Resultados del Experimento</h4>
                  <p class="text-danger"><i>{{experimento?.resultados ? experimento?.resultados : 'Experimento Sin Finalizar'}}</i></p>
                  <h4 class="text-secondary text-staatliches mb-0">Conclusiones del Experimento</h4>
                  <p class="text-danger"><i>{{experimento?.conclusiones ? experimento?.conclusiones : 'Experimento Sin Finalizar'}}</i></p>
                </div>

                <div class="info">
                  <div class="fila">
                    <div class="">
                      <h4 class="text-secondary text-staatliches mb-0">Fecha de Inicio</h4>
                      <p class="mb-0">{{experimento?.fechaInicio | date}}</p>
                    </div>
                    <div class="barra"></div>
                    <div class="">
                      <h4 class="text-secondary text-staatliches mb-0">Fecha de Finalizacion</h4>
                      <p class="mb-0 {{proyecto?.fechaFinal ? 'text-danger' : ''}}">{{experimento?.fechaFinal ? (experimento?.fechaFinal | date) : 'Sin finalizar'}}</p>
                    </div>
                  </div>
                  <div class="barra"></div>
                  <div class="fila metodologia">
                    <div class="justify-content-start">
                      <h4 class="text-secondary text-staatliches mb-0">Metodologia de Trabajo</h4>
                      <a href='{{experimento?.metodologia}}' target="_blank" class="mb-0">{{experimento?.metodologia}}</a>  
                    </div>
                  </div>
                </div>
              <div class="grupos-experimentales">
                <div class="d-flex align-items-center mb-3 mt-3">
                  <h4 class="text-secondary text-staatliches mb-0">Grupos Experimentales</h4>
                  <div class="ml-4">
                    <button class="btn btn-outline-primary" style="cursor: pointer" (click)="open(GrupoExperimental,true)">+Nuevo</button>
                  </div>
                </div>
                <div class="grupo-filtro-container" *ngIf='gruposExperimentales.length != 0'>
                  <div class="filtro d-flex">
                    <span class="input-group-text">
                      <i class="bi bi-search"></i>
                    </span>
                    <input type="text" class="form-control" id="usuario" name='filterPost' placeholder="Buscar por codigo de grupo experimental" [(ngModel)]='filterPost'>
                  </div>
                  <div class="filtro d-flex">
                    <span class="input-group-text">
                      <i class="bi bi-search"></i>
                    </span>
                    <select class="form-control"  id='usuario' aria-label="Default select example" [(ngModel)]='filterPostActive'> 
                      <option selected hidden value="-1">Seleccione el tipo de grupo</option>
                      <option value="-1">Todos</option>
                      <option value="Animal">Animal</option>
                      <option value="Otro">Otro</option>
                    </select>
                  </div>
              </div>
                <div class="grupos-container">
                  <div *ngFor="let grupo of gruposExperimentales | filterCodigos: filterPost | filterTipo: filterPostActive" class="card card-grupo shadow rounded list-group-item-action" routerLink='grupo-experimental/{{grupo.id_grupoExperimental}}'>
                    <!-- | filter: filterCodigos -->
                    <div class="">
                      <div class="card-body">
                          <h5 class="card-title text-center">{{grupo.codigo}} - {{grupo.tipo}}</h5>
                          <hr class="my-3 bg-{{experimento?.habilitado? 'danger' : 'success'}}">
                          <p class="card-text text-center">{{grupo.descripcion?.substring(0,100)}}{{grupo.descripcion?.length > 100 ? '...' : ''}}</p>
                          <div class="d-flex flex-row justify-content-between">
                              <h6><i>Cantidad de Fuentes</i></h6>
                              <p class="mb-0">{{grupo.fuentesExperimentales.length}}</p>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="my-3" *ngIf='gruposExperimentales.length === 0'>
                  <p class="text-danger"><i>No hay grupos experimentales creados</i></p>
                </div>
              </div>
            </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Muestras Externas</a>
          <ng-template ngbNavContent>
            <div class="search_container_muestras">
              <div class="input-group">
                  <span class="input-group-text">
                      <i class="bi bi-search"></i>
                  </span>
                  <input type="text" class="form-control " id="usuario" name='filterPostMuestra' placeholder="Buscar por codigo de muestra" [(ngModel)]='filterPostMuestra'>
              </div>
              <div>
                <button class="btn btn-outline-primary btn-asociar_muestra " (click)='open(AsociarMuestra,false)'>Asociar Muestra</button>
              </div>
            </div>
            <div class="muestras-container">
              <div *ngFor="let muestra of experimento.muestrasExternas | filterCodigos: filterPostMuestra" class="card card-grupo shadow rounded list-group-item-action">
                <div class="">
                  <div class="card-body">
                      <h5 class="card-title text-center">{{muestra.codigo}} - {{muestra.tipo}}</h5>
                      <hr class="my-3 bg-{{experimento?.habilitado? 'danger' : 'success'}}">
                      <p class="card-text text-center">{{muestra.descripcion}}</p>
                      <div class="d-flex flex-row justify-content-between">
                        <h6><i>Experimento</i></h6>
                        <h6><i>Ubicación</i></h6>
                      </div>
                      <div class="d-flex flex-row justify-content-between">
                        <p class="mb-0">{{muestra.codigoExperimento}}</p>
                        <p class="mb-0">{{muestra.nombreContenedor}}</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf='experimento.muestrasExternas.length === 0' class="text-center" style='color: darkred;'>
              <i class="bi bi-shield-exclamation" style="font-size: 3em"></i>
              <h5 style='color: darkred;'>No hay muestras externas asociadas</h5>
          </div>
          </ng-template>
      </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink>Blog</a>
            <ng-template ngbNavContent>
              <div class="busqueda">
                <div class="form-group my-2">
                  <button class="btn btn-outline-success boton" (click)="open(blog,true)">Nueva Entrada</button>
                </div>
                <div class="barra-blogs m-2" ></div>
                  <div class="search-container-blog">
                    <div class="form-group my-2">
                      <div class="input-group">
                        <input class="form-control" placeholder="Fecha Desde" id="fecDesde" 
                               name="dp" [(ngModel)]="fecDesde" ngbDatepicker #d="ngbDatepicker">
                        <div class="">
                          <button class="btn btn-outline-secondary " (click)="d.toggle()" type="button"><i class="bi bi-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group my-2">
                      <div class="input-group">
                        <input class="form-control" placeholder="Fecha Hasta" id="fecHasta" 
                               name="dp2" [(ngModel)]="fecHasta" ngbDatepicker #d2="ngbDatepicker">
                        <div class="">
                          <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button"><i class="bi bi-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-outline-secondary filtro-blogs"  (click)=filtrarBlogs() >Filtrar</button>
                  </div>
              </div>
              <div class="" >
                <ng-container *ngFor='let a of blogs;let i = index'  >
                    <ng-container *ngIf = 'i%2==0'>
                      <div class="card-blog shadow rounded">
                        <div class="fecha">
                          <i class="bi bi-journals m-2"></i>
                          <h6 class="card-title text-center">{{a.fecha | date: 'dd/MM/yy'}}</h6>
                        </div>
                        <div class="blog" >
                          <h5 class="card-title card-header">Experimento {{a.codigoExperimento}} - Blog N° {{a.id_blog}}</h5>
                          <p class="mb-1"><i>  usuario :{{a.id_usuario}}</i></p>
                          <p>{{a.detalle}}</p>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf = 'i%2!=0'>
                      <div class="card-blog shadow rounded">
                        <div class="blog" >
                          <h5 class="card-title card-header">Experimento {{a.codigoExperimento}} - Blog N° {{a.id_blog}}</h5>
                          <p class="mb-1"><i>  usuario :{{a.id_usuario}}</i></p>
                          <p>{{a.detalle}}</p>
                        </div>
                        <div class="fecha">
                          <i class="bi bi-journals m-2"></i>
                          <h6 class="card-title text-center">{{a.fecha | date: 'dd/MM/yy'}}</h6>
                        </div>
                      </div>
                    </ng-container>
                </ng-container>
            </div>
            <div *ngIf='blogs?.length === 0' class="text-center" style='color: darkred;'>
              <i class="bi bi-shield-exclamation" style="font-size: 3em"></i>
              <h5 style='color: darkred;'>No hay blogs existentes</h5>
            </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

<ng-template #GrupoExperimental let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear Grupo Experimental</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="">
      <form [formGroup]='formGrupoExperimental' class="d-flex">
        <div class="informacion">
          <div class="">
            <label for="otro" class="form-label">Codigo de grupo experimental</label>
            <input type="text" class="form-control" id="otro" formControlName='codigo' placeholder="Ingrese código del grupo experimental" [attr.disabled]='disabledForm ? true : null'>
          </div>
          <div class="">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-select form-control"  id='tipo' aria-label="Default select example" formControlName='tipo' [attr.disabled]='disabledForm ? true : null'>
                    <option value="0" disabled>Seleccione tipo de Grupo Experimental</option>    
                    <option value="Animal">Animal</option>
                    <option value="Otro">Otro</option>
            </select>
          </div>
          <div class="">
            <label for="tipo" class="form-label">Descripcion</label>
            <textarea class="form-control descripcion-grupo" id='descripcion' aria-label="With textarea" rows="6" formControlName='descripcion' placeholder="Ingrese descripción del grupo experimental" [attr.disabled]='disabledForm ? true : null'></textarea>
          </div>
        </div>
        <div class="imagenModalGrupos">
          <i class="bi bi-diagram-3" style="font-size: 8em;"></i>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary btn-lg mr-3 boton-grande" (click)='crearGrupoExperimental()' *ngIf='!disabledForm'>Crear</button>
      <button class="btn btn-primary btn-lg boton-grande" type="button" disabled *ngIf='disabledForm'>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Cargando...
      </button>
  </div>
</ng-template>

<ng-template #AsociarMuestra let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Asociar Muestra</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="">
      <form [formGroup]='formAsociarMuestra' class="d-flex">
          <div class="w-100">
            <label for="muestras" class="form-label">Muestras Disponibles</label>
                    <angular2-multiselect [data]="itemList" 
                                [(ngModel)]="selectedItems" 
                                [settings]="settings"                 
                                formControlName="muestras"
                                [attr.disabled]='disabledForm ? true : null'
                                style="height: 10em;">
                    </angular2-multiselect>
          </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary btn-lg mr-3 boton-grande" (click)='asociarMuestraExperimento()' *ngIf='!disabledForm'>Asociar muestra</button>
      <button class="btn btn-primary btn-lg boton-grande" type="button" disabled *ngIf='disabledForm'>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Cargando...
      </button>
  </div>
</ng-template>

<ng-template #blog let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Crear Publicacion</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="body-creacionBlog">
        <div class="body-creacionBlog-detalle">
          <label for="tipo" class="form-label">Escriba una publicacion</label>
          <textarea class="form-control" id='descripcion' aria-label="With textarea" rows="6" placeholder="Escriba el detalle del Blog" [(ngModel)]='detalleBlog' [attr.disabled]='disabledForm ? true : null'></textarea>
        </div>
        <div class="imagenModal">
          <i class="bi bi-file-earmark-text" style="font-size: 8em;"></i>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-lg boton-grande" (click)='crearBlog()' *ngIf='!disabledForm'>Crear Blog</button>
        <button class="btn btn-primary btn-lg boton-grande" type="button" disabled *ngIf='disabledForm'>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Cargando...
        </button>
    </div>
</ng-template>

<ng-template #finalizarExperimento let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Finalizar Experimento</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-finalizar-experimento (cerrar)="modal.dismiss()"></app-finalizar-experimento>
  </div>
  <!-- <div class="modal-footer">
      <button class="btn btn-primary mr-3"(propagar)="procesaPropagar($event)">Agregar</button>
  </div> -->
</ng-template>


<app-toast></app-toast>