.form-primer_fila{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
form{
    padding:4em;
    padding-top: 0px;
    margin: 2em;
}
i{
    margin: auto;
}
.form-fila{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0.5em;
    width: 100%;
}

@media screen and (max-width: 360px){
   form{
       padding: 0.5em;
       margin: 1em;
   }
   .imagen{
       display: none;
       visibility: hidden;
   }
   .form-fila,.form-primer_fila{
    display: block;
    margin: 2px;
    width: 100%;
    }
    label,input{
        width: 100%;
    }
      
}