.container{
    display: flex;
    justify-content: space-around;
}
textarea{
    width: 30em;
}
.botones{
    display: flex;
    justify-content: center;
    margin-top:1em;
}
.cancelar{
    margin-left: 1em;
}
@media screen and (max-width: 360px){
    textarea{
        width: 15em;
    }
    .imagen{
        display: none;
    }
    .conclusion{
        width: 100%;
    }
    .botones{
        display: block;
        justify-content: center;
        margin-top:1em;
    }
    button{
        display: block;
        width: 100%;
        margin-top: 0.5em;
    }
    .cancelar{
        margin-left: 0;
    }
}