<div class="">
    <div class="">
        <form>
            <div class="container">
                <div class="conclusion">
                    <div class="">
                        <div class="">
                            <label  class="form-label">Conclusion</label>
                            <textarea class="form-control" name='conclusion' aria-label="With textarea" rows="5" [(ngModel)]="obj.conclusion" placeholder="Ingrese la conclusión del proyecto" [attr.disabled]='disabledForm ? true : null'></textarea>
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                    </div>
                </div>
                <div class="imagen">
                    <div class="text-center">
                        <i class="bi bi-inboxes-fill" style="font-size: 8em;"></i>
                        <!-- <i class="bi bi-folder-plus" ></i> -->
                    </div>
                </div>

            </div>
            <div class="botones">
                <div class="">
                    <button class="btn btn-primary btn-lg " (click)='finalizarProyecto()' *ngIf='!disabledForm'>Finalizar Proyecto</button>
                    <button class="btn btn-primary btn-lg boton" type="button" disabled *ngIf='disabledForm'>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Cargando...
                    </button>
                    <button class="btn btn-secondary btn-lg cancelar" (click)='cerrarModal()' *ngIf='!disabledForm'>Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<app-toast></app-toast>
