<h3>Proyectos</h3>
<div class="search-container">
    <div class="input-group mb-3">
        <span class="input-group-text">
            <i class="bi bi-search"></i>
        </span>
        <input type="text" class="form-control" id="usuario" placeholder="Buscar un proyecto">
    </div>
    <select class="form-control"  aria-label="Default select example">
        <option selected>Estado</option>
        <option value="1">Todos</option>
        <option value="2">Activo</option>
        <option value="3">Inactivo</option>
    </select>
</div>
<hr>
<div class="proyects-container">
    <div class="card my-3 shadow rounded list-group-item-action" style="cursor: pointer;" routerLink='1'>
        <p><strong>Proyecto 1</strong></p>
        <p><i>Esto es una descripcion de prueba para el proyecto 1</i></p>
    </div>
    <div class="card my-3 shadow rounded list-group-item-action" style="cursor: pointer;" routerLink='2'>
        <p><strong>Proyecto 1</strong></p>
        <p><i>Esto es una descripcion de prueba para el proyecto 1</i></p>
    </div>
    <div class="card my-3 shadow rounded list-group-item-action" style="cursor: pointer;" routerLink='3'>
        <p><strong>Proyecto 1</strong></p>
        <p><i>Esto es una descripcion de prueba para el proyecto 1</i></p>
    </div>
    <div class="card my-3 shadow rounded list-group-item-action" style="cursor: pointer;" routerLink='4'>
        <p><strong>Proyecto 1</strong></p>
        <p><i>Esto es una descripcion de prueba para el proyecto 1</i></p>
    </div>
    <div class="card my-3 shadow rounded list-group-item-action" style="cursor: pointer;" routerLink='5'>
        <p><strong>Proyecto 1</strong></p>
        <p><i>Esto es una descripcion de prueba para el proyecto 1</i></p>
    </div>
</div>

<div class="text-center">
    <button type="button" class="btn btn-outline-primary btn-lg">Crear Proyecto</button>
</div>