<h3>Proyectos</h3>
<div class="search-container">
    <div class="input-group mb-3">
        <span class="input-group-text">
            <i class="bi bi-search"></i>
        </span>
        <input type="text" class="form-control" id="usuario" placeholder="Buscar un proyecto">
    </div>
    <hr>
</div>
<div class="proyects-container">
    <div class="card my-3 shadow rounded">
        <p><strong>Proyecto 1</strong></p>
        <p><i>Esto es una descripcion de prueba para el proyecto 1</i></p>
    </div>
    <div class="card my-3 shadow rounded">
        <p><strong>Proyecto 1</strong></p>
        <p><i>Esto es una descripcion de prueba para el proyecto 1</i></p>
    </div>
    <div class="card my-3 shadow rounded">
        <p><strong>Proyecto 1</strong></p>
        <p><i>Esto es una descripcion de prueba para el proyecto 1</i></p>
    </div>
    <div class="card my-3 shadow rounded">
        <p><strong>Proyecto 1</strong></p>
        <p><i>Esto es una descripcion de prueba para el proyecto 1</i></p>
    </div>
    <div class="card my-3 shadow rounded">
        <p><strong>Proyecto 1</strong></p>
        <p><i>Esto es una descripcion de prueba para el proyecto 1</i></p>
    </div>
</div>

