
<h3 class="text-center">Stock</h3>
<div class="container">
    <div class="row align-items-start text-center ">
      <div class="col p-4 card shadow rounded list-group-item-action m-5" style="cursor: pointer;" routerLink="productos">
          <img src="../../../../assets/img/default1.jpg" class="img-fluid imagen" alt="">
        <h3>Productos</h3>
        
      </div>
      <div class="col p-4  card shadow rounded list-group-item-action m-5" style="cursor: pointer;" routerLink="espaciosfisicos" >
        <img src="../../../../assets/img/default3.jpg" class="img-fluid imagen" alt="">
        <h3>Stock</h3>
      </div>
    </div>
  </div>

  
