
<div *ngIf='step === 0'>
  <div class="mx-4">        
    <div>
      <div class="text-center my-4">
        <h2>Seleccione espacio físico</h2>
      </div>
    </div>
      <div class="card rounded shadow p-4 mb-4">
        <table class="table table-hover">
          <thead>
              <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Sala</th>
              <th scope="col">Piso</th>
              <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let espacio of espacios; let i = index' routerLink='{{espacio.id_espacioFisico}}'>
                  <th scope="row">{{i + 1}}</th>
                  <td>{{espacio.nombre}}</td>
                  <td>{{espacio.sala}}</td>
                  <td>{{espacio.piso}}</td>
                  <td class="d-flex">
                      <div>
                        <a class="" role="button">
                          <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                      </div>
                    </td>
                  
              </tr>
          </tbody>
        </table>
        <div class="alert alert-danger" role="alert" *ngIf='espacios?.length === 0'>
          No hay espacios fisicos disponibles
        </div>
      </div>
  </div>
</div>

