.search-container{
    width: 100%;
    padding: 0.7em;
    margin: auto;
    display: flex;
    justify-content:center;
}

.search-container .form-control{
    width: 32%;
}

.input-group{
    width: 32%;
}
.col-11{
    background-color: #EAD2EA     ;
    border-color: #87718D ;
}
