<h3 class="text-center">Productos</h3>
<div class="search-container">
    <div class="input-group mb-3">
        <span class="input-group-text">
            <i class="bi bi-search"></i>
        </span>
        <input type="text" class="form-control" id="usuario" placeholder="Buscar un Producto">
    </div>
    
</div>
<hr>
<div class="stock-container">
    <div class="card my-3 shadow rounded list-group-item-action" style="cursor: pointer;" routerLink='1'>
        <p><strong>Producto 1</strong></p>
        <p><i>Stock Disponible</i></p>
        <p><i>Fecha de vencimiento</i></p>
    </div>
    <div class="card my-3 shadow rounded list-group-item-action" style="cursor: pointer;" routerLink='2'>
        <p><strong>Producto 1</strong></p>
        <p><i>Stock Disponible</i></p>
        <p><i>Fecha de vencimiento</i></p>
    </div>
    <div class="card my-3 shadow rounded list-group-item-action" style="cursor: pointer;" routerLink='3'>
        <p><strong>Producto 1</strong></p>
        <p><i>Stock Disponible</i></p>
        <p><i>Fecha de vencimiento</i></p>
    </div>
    <div class="card my-3 shadow rounded list-group-item-action" style="cursor: pointer;" routerLink='4'>
        <p><strong>Producto 1</strong></p>
        <p><i>Stock Disponible</i></p>
        <p><i>Fecha de vencimiento</i></p>
    </div>
    <div class="card my-3 shadow rounded list-group-item-action" style="cursor: pointer;" routerLink='5'>
        <p><strong>Producto 1</strong></p>
        <p><i>Stock Disponible</i></p>
        <p><i>Fecha de vencimiento</i></p>
    </div>
</div>

<div class="text-center">
    <button type="button" class="btn btn-outline-primary btn-lg">Nuevo Producto</button>
</div>
