<div class="m-4" routerLink="../" role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>
<div class="mx-4">
    <div class="text-center my-4">
        <h2>Finalizar Experimento</h2>
    </div>

    <div class="card rounded shadow p-4 mb-4">
        <form>
            <div class="row">
                <div class="col-9">
                    <div class="mb-3">
                        <div>
                            <label  class="form-label">Resultados</label>
                            <textarea class="form-control" name='conclusion' aria-label="With textarea" rows="5" [(ngModel)]="obj.resultados"></textarea>
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <i class="bi bi-inboxes-fill" style="font-size: 8em;"></i>
                        <!-- <i class="bi bi-folder-plus" ></i> -->
                    </div>
                </div>

            </div>
            <div>
                <label  class="form-label">Conclusion</label>
                <textarea class="form-control" name='conclusion' aria-label="With textarea" rows="5" [(ngModel)]="obj.conclusion"></textarea>
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="d-flex flex-row justify-content-center mt-3">
                <div class="mx-3">
                    <button class="btn btn-primary btn-lg" (click)='finalizarExperimento()'>Finalizar Experimento</button>
                </div>
            </div>
        </form>
        <div class="alert alert-{{estado}} mt-3" role="alert" *ngIf='alert'>
            {{mensajeAlert}}
        </div>
    </div>
</div>