.table{
    width: 90%;
    margin: 2em;
}
th,td{
    padding: 1em 2em;
}
tr{
    width: 100%;
}
.title{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    width: 40%;
}
@media screen and (max-width: 360px){
    .table{
        width: 100%;
        overflow-x: scroll;
        margin: 0.2em;
    }
    .title{
        display: block;
        margin: 0.5em;
        width: 100%;
    }
    th,td{
        padding: 1em;
    }
    button{
        width: 90%;
    }
}