<div class="m-4" routerLink="../" role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>
<h3 class="text-center mt-4">Nueva entrada de Blog</h3>
<div class="card rounded shadow p-4 m-5">
    <form>
        <div class="m-3">
            <label  class="form-label">Titulo</label>
            <input type="" class="form-control">
        </div>
        <div class=" m-3">
          <label  class="form-label">Usuario</label>
              <div class="input-group mb-3">
                  <select class="form-control" aria-label=".form-select-lg example">
                   <option selected>Seleccionar Usuario</option>
                   <option value="1">Ana</option>
                    <option value="2">Pepe</option>
                    <option value="2">Maria</option>
                    <option value="2">Vanesa</option>
                  </select>
              </div>
        </div>
        <div class="m-3">
            <label  class="form-label">Descripción</label>
            <textarea class="form-control" aria-label="With textarea" rows="4"></textarea>
        </div> 
        <div class="m-3">
            <label  class="form-label">Fecha</label>
            <input type="date" class="form-control">
        </div>
    </form>
 <div class="text-center">
      <button type="button" class="btn btn-success btn-lg">Guardar</button>
 </div>
</div>

