
   <div class="d-flex bd-highlight navbar navbar-expand-lg ">
      <div class="p-2 flex-grow-1 bd-highlight">
        <a class="navbar-brand" href="#">INMUNOBIO</a>
      </div>
      <div class="p-1 bd-highlight  image">
        <img src="../../../../assets/img/cidi.png"   class="img-fluid m-2 " alt="">
      </div>
      <div class="p-1 bd-highlight image">
        <img src="../../../../assets/img/cesyma.png"   class="img-fluid m-2" alt="">
      </div>
      <!-- <div class="p-2 bd-highlight">
        <img src="../../../../assets/img/ecyt.png"   class="img-fluid m-2 img2" alt="">
      </div> -->
  </div>
