<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="d-flex align-items-center ml-1">
      <div class="mr-3">
        <img src="./../../../assets/img/logo.png" alt="" width="25px">
      </div>
      <h2 class="text-center text-white title mb-0">Inmunobio</h2>
    </div>
    <div >
      <div ngbDropdown display="dynamic" class="d-inline m-3">
        <button class="btn btn-outline-light btn-sm" id="dropdownBasic1" ngbDropdownToggle>
          <i class="bi bi-envelope m-4"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>
            <div class="d-flex flex-row align-items-center">
              <i class="bi bi-envelope mr-4"></i>
              <div>
                <p class="mb-0"><strong>Gabriel Jotallan</strong></p>
                <p class="mb-0">Hola, esto es un texto de prueba que tie...</p>
              </div>
            </div>
          </button>
          <hr class="m-2">
          <button ngbDropdownItem>
            <div class="d-flex flex-row align-items-center">
              <i class="bi bi-envelope mr-4"></i>
              <div>
                <p class="mb-0"><strong>Gabriel Jotallan</strong></p>
                <p class="mb-0">Hola, esto es un texto de prueba que tie...</p>
              </div>
            </div>
          </button>
          <hr class="m-2">
          <button ngbDropdownItem>
            <div class="d-flex flex-row align-items-center">
              <i class="bi bi-envelope mr-4"></i>
              <div>
                <p class="mb-0"><strong>Gabriel Jotallan</strong></p>
                <p class="mb-0">Hola, esto es un texto de prueba que tie...</p>
              </div>
            </div>
          </button>
          <hr class="m-2">
          <button ngbDropdownItem>
            Ver mas...
          </button>
        </div>
      </div>
      <div ngbDropdown display="dynamic" class="d-inline m-3">
        <button class="btn btn-outline-light btn-sm" id="dropdownBasic1" ngbDropdownToggle>
          <i class="bi bi-bell m-4"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>
            <div class="d-flex flex-row align-items-center justify-content-center">
              <i class="bi bi-exclamation-circle-fill mr-3"></i>
              <p class="mb-0">Esto es una notificacion de prueba</p>
            </div>
          </button>
          <hr class="m-2">
          <button ngbDropdownItem>
            <div class="d-flex flex-row align-items-center justify-content-center">
              <i class="bi bi-exclamation-circle-fill mr-3"></i>
              <p class="mb-0">Esto es una notificacion de prueba</p>
            </div>
          </button>
          <hr class="m-2">
          <button ngbDropdownItem>
            <div class="d-flex flex-row align-items-center justify-content-center">
              <i class="bi bi-exclamation-circle-fill mr-3"></i>
              <p class="mb-0">Esto es una notificacion de prueba</p>
            </div>
          </button>
          <hr class="m-2">
          <button ngbDropdownItem>
            Ver mas...
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>