.navbar{
    min-height: 4em;
    /* box-shadow: 0px 0px 20px 1px rgba(179,179,179,1); */
}

.title{
    font-family: 'Staatliches', cursive;
    color: #033980;
}

@media screen and (max-width: 1024px){
    .container-fluid{
        justify-content: flex-end;
    }
    .navbar-brand{
        display: none;
    }
}
