<div class="m-4" routerLink="../" role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>
<div class="mx-4">
    <div class="text-center my-4">
        <h2>Nuevo Experimento</h2>
    </div>

    <div class="card rounded shadow p-4 mb-4">
        <form [formGroup]="formExperimento" (ngSubmit)="crearExperimento()">
            <div class="row">
                <div class="col-9">
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="metodologia" class="form-label">Metodologia</label>
                            <input type="text" class="form-control" id="metodologia" formControlName='metodologia'>
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                        <div class="col">
                            <label for="codigo" class="form-label">Codigo de experimento</label>
                            <input type="text" class="form-control" id="codigo" formControlName='codigo'>
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="objetivos" class="form-label">Objetivos</label>
                        <textarea class="form-control" id='objetivos' aria-label="With textarea" rows="4" formControlName='objetivos'></textarea>
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <i class="bi bi-folder-plus" style="font-size: 8em;"></i>
                    </div>
                </div>

            </div>
            
            
            <div class="d-flex flex-row justify-content-end">
                <div class="mx-3">
                    <button class="btn btn-primary btn-lg" type="submit" [disabled]='!formExperimento.valid'>Crear Experimento</button>
                </div>
            </div>
        </form>
    </div>
</div>