h2{
    margin-left: 1.5em;
}
.primer-bloque{
    margin-left: 0px;
    width: 70%;
}
.filaMayor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 8em;
    width: 100%;
}
.metodologiaYCodigo{
    display: flex;
}
.fila{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.imagen{
    margin-right: 2em;
}
.codigo{
    margin-left: 1em;
}
.boton{
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;
    margin-top: 1em;
}
@media screen and (max-width: 360px){
    .imagen{
        display: none;
        visibility: hidden;
    }
    .boton,button{
        width: 100%;
        display: block;
        justify-content: center;
    }
    .fila,.filaMayor,.primer-bloque{
        display: block;
        margin: 2px;
        width: 100%;
        margin-left: 0px;
        }
    label,input,option{
            width: 100%;
    }
    .metodologiaYCodigo{
           display: block;
    }
    .codigo{
        margin-left: 0px;
    }
    h2{
        text-align: center;
        margin: 0px;
    }
       
 }