
<div class="m-5" *ngIf='step === 0'>
    <h2 class="text-center ">Bioterio</h2>

<div class="mx-4" >
    <ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Jaulas</a>
          <ng-template ngbNavContent>
            <div class="search-container flex-wrap">
              
              
            </div>
            <div class="m-4">
              <div class="alert alert-{{estado}} mt-3" role="alert" *ngIf='alert'>
                {{mensajeAlert}}
              </div>
            <table class="table table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Salón</th>
                    <th scope="col">Rack</th>
                    <th scope="col">Estante</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Proyecto Asociado</th>
                    <th></th>
                    <th></th>
                    <th><a type="button" class="btn btn-primary" (click)=crear() >Nueva Jaula</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let jaula of jaulas'>
                    <th scope="row">{{jaula?.codigo}}</th>
                    <td >{{jaula?.nombreEspFisico }}</td>
                    <td>{{jaula?.rack}}</td>
                    <td>{{jaula?.estante}}</td>
                    <td>{{jaula?.tipo}}</td>
                    <td>{{jaula?.nombre_proyecto ? jaula?.nombre_proyecto : 'Sin asignar'}}</td>
                    <td><div class="mr-4">
                      <a class="text-primary" role="button" (click)=editar(jaula)>
                        <i class="bi bi-pencil"></i>
                      </a>
                    </div></td>
                    <td>
                    <div class="mr-4">
                      <a class="text-danger" role="button" (click)=eliminar(jaula.id_jaula)>
                        <i class="bi bi-trash"></i>
                      </a>
                    </div></td>
                    <td><div class="mr-4">
                      <a class="text-secondary" role="button" (click)=ver(jaula.id_jaula)>
                        <i class="bi bi-arrow-right-square-fill"></i>
                      </a>
                    </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              
              
            </div>
          </ng-template>
          
        </li>

        <li [ngbNavItem]="2">
          <a ngbNavLink>Blogs</a>
          <ng-template ngbNavContent>
            <div class="card rounded shadow m-3 p-4">
              <form [formGroup]="formFecha" (ngSubmit)="Buscar()">
                <div class="row">
                  <div class="col">
                    <label for="fecDesde" class="form-label">Fecha inicial</label>
                    <input type="date" class="form-control" id="fecDesde" formControlName="fecDesde">
                  </div>
                  <div class="col">
                    <label for="fecHasta" class="form-label">Fecha final</label>
                    <input type="date" class="form-control" id="fecHasta" formControlName="fecHasta">
                  </div>
                  <button class="btn btn-success btn-lg " type="submit" [disabled]="!formFecha.valid">Buscar</button>
                </div>
              </form>
            </div>
            <div class="row m-2" >
              <ng-container *ngFor='let a of blogs;let i = index'>
            <div class="col-1 d-flex flex-column  align-items-center">
              <div class="rounded-circle border border-dark d-flex justify-content-center align-items-center m-2" style="width: 40px; height: 40px;">
                <i class="bi bi-journal"></i>
              </div>
              <p class="text-center mb-0">{{a.fecha | date: 'shortDate'}}</p>
              <div>
            </div>
            </div>
            <div class=" col-11 card shadow  mb-3">
              <div class="card-header"><strong>Blog n°{{a.id_blog}} - Jaula {{a.id_jaula}}</strong></div> 
                <p class="mb-1"><i> usuario :{{a.id_usuario}}</i></p>
                <p>{{a.detalle}}</p>
            </div>
          </ng-container>
          </div>
          </ng-template>
        </li>
        
      </ul>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div> 
</div>
<div *ngIf='step === 1'>
  <app-editar-jaula
  [element]='jaulaSeleccionada'
  [modo]='modo'
  (volviendo)='onVolviendo($event)'
  >
</app-editar-jaula>
</div>

<div *ngIf='step === 2'>
  <app-jaula-detalle
  [element]='jaulaSeleccionada'
  (volviendo)='onVolviendo($event)'
  >
</app-jaula-detalle>
</div>