h3{
    margin: 1.5em;
}
.search-container{
    width: 100%;
    padding: 0.7em;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.card{
    width: 25%;
    margin: auto;
    padding: 0.5em;
}

.card-blog{
    width: 100%;
    margin: auto;
    vertical-align: auto;
    align-items: center;
    background-color: rgba(93, 155, 209, 0.082);
}

.jaula-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1024px){
    .search-container .form-control{
        width: 40%;
    }
    .input-group{
        width: 40%;
    }   
}