<h2 class="m-5 text-center">Bioterio</h2>
<div class="mx-4" >
  <ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Jaulas</a>
        <ng-template ngbNavContent>
          <div class="search-container d-flex m-2">
            <div class="input-group w-50">
                <span class="input-group-text">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text" class="form-control" id="usuario" name='filterPost' placeholder="Buscar por código de jaula" [(ngModel)]='filterPost'>
            </div>
            <div>
              <button class="btn btn-outline-primary" routerLink='editar-jaula'>+Agregar</button>
            </div>
        </div>
        <hr class="my-3">
        <div class="jaula-container" *ngIf='!cargando'>
            <div *ngFor="let jaula of jaulas| filterCodigos: filterPost" class="card my-3 mx-4 p-4 shadow rounded list-group-item-action" routerLink='{{jaula.id_jaula}}'>
                <div class="">
                    <div class="">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{jaula?.codigo}}</h4>
                            <h6 class="card-title text-center">{{jaula?.nombreEspFisico}}</h6>
                            <hr class="my-3 bg-success">
                            <p class="card-text text-center">Estante {{jaula?.estante}}</p>
                            <p class="card-text text-center">Rack {{jaula?.rack}} </p>
                            <p class="card-text text-center">Tipo {{jaula?.tipo}}</p>
                            <div class="card-text text-center">
                                    <h6><i>Proyecto</i></h6>
                                    <p class="mb-0">{{jaula?.nombreProyecto ? jaula?.nombreProyecto : 'Sin asignar'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf='cargando'>
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Blogs</a>
        <ng-template ngbNavContent>
          <div class=" row m-2 p-2">
              <div class="col-6 d-flex justify-content-around align-items-center">
                <div class="form-group m-2">
                  <div class="input-group">
                    <input class="form-control" placeholder="Fecha Desde" id="fecDesde" 
                           name="dp" [(ngModel)]="fecDesde" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="bi bi-calendar"></i></button>
                    </div>
                  </div>
                </div>
                <div class="form-group m-2">
                  <div class="input-group">
                    <input class="form-control" placeholder="Fecha Hasta" id="fecHasta" 
                           name="dp2" [(ngModel)]="fecHasta" ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="bi bi-calendar"></i></button>
                    </div>
                  </div>
                </div>
                <button class="btn btn-outline-secondary m-2"  (click)=Buscar() >Filtrar</button>
              </div>
          </div>
          <div class="row" >
            <ng-container *ngFor='let a of blogs;let i = index'  >
                <ng-container *ngIf = 'i%2==0'>
                  <div class=" row card-blog shadow rounded m-2">
                    <div class="col-1 d-flex flex-column align-items-center">
                      <i class="bi bi-journals m-2"></i>
                      <h6 class="card-title text-center">{{a.fecha | date: 'dd/MM/yy'}}</h6>
                    </div>
                    <div class="col-11" >
                      <h5 class="card-title card-header">Jaula {{a.codigoJaula}} - Blog N° {{a.id_blog}}</h5>
                      <p class="mb-1"><i>  usuario :{{a.id_usuario}}</i></p>
                      <p>{{a.detalle}}</p>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf = 'i%2!=0'>
                  <div class="row card-blog shadow rounded m-2">
                    <div class="col-11" >
                      <h5 class="card-title card-header">Jaula {{a.codigoJaula}} - Blog N° {{a.id_blog}}</h5>
                      <p class="mb-1"><i>  usuario :{{a.id_usuario}}</i></p>
                      <p>{{a.detalle}}</p>
                    </div>
                    <div class="col-1 d-flex flex-column align-items-center">
                      <i class="bi bi-journals m-2"></i>
                      <h6 class="card-title text-center">{{a.fecha | date: 'dd/MM/yy'}}</h6>
                    </div>
                  </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf='blogs?.length === 0'>
          No hay blogs existentes
        </div>
        </ng-template>
      </li>
      
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div> 

  






