<div *ngIf='!cargando'>
<h2 class="text-center title">Bioterio</h2>
<div class="mx-4"  >
  <ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Jaulas</a>
        <ng-template ngbNavContent>
          <div class="search-container">
            <div class="input-group my-2">
                <span class="input-group-text">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text" class="form-control " id="usuario" name='filterPost' placeholder="Buscar por código de jaula" [(ngModel)]='filterPost'>
            </div>
            <div>
              <button class="btn btn-outline-primary search__btn-agregar my-2" routerLink='editar-jaula'>+Agregar</button>
            </div>
        </div>
        <hr class="my-3">
        <div class="jaula-container">
            <div *ngFor="let jaula of jaulas| filterCodigos: filterPost" class="card-jaula shadow rounded list-group-item-action" routerLink='{{jaula.id_jaula}}'>
                <div class="">
                    <div class="">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{jaula?.codigo}}</h4>
                            <h6 class="card-title text-center">{{jaula?.nombreEspFisico}}</h6>
                            <hr class="my-3 bg-success">
                            <p class="card-text text-center">Estante {{jaula?.estante}}</p>
                            <p class="card-text text-center">Rack {{jaula?.rack}} </p>
                            <p class="card-text text-center">Tipo {{jaula?.tipo}}</p>
                            <div class="card-text text-center">
                                    <h6><i>Proyecto</i></h6>
                                    <p class="mb-0">{{jaula?.nombreProyecto ? jaula?.nombreProyecto : 'Sin asignar'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf='jaulas.length === 0' class="text-center" style='color: darkred;'>
          <i class="bi bi-shield-exclamation" style="font-size: 3em"></i>
          <h5 style='color: darkred;'>No hay jaulas creadas, cree una para continuar</h5>
        </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Blogs</a>
        <ng-template ngbNavContent>
          <div class="search-container">
                <div class="form-group my-2">
                  <div class="input-group">
                    <input class="form-control" placeholder="Fecha Desde" id="fecDesde" 
                           name="dp" [(ngModel)]="fecDesde" ngbDatepicker #d="ngbDatepicker">
                    <div class="">
                      <button class="btn btn-outline-secondary " (click)="d.toggle()" type="button"><i class="bi bi-calendar"></i></button>
                    </div>
                  </div>
                </div>
                <div class="form-group my-2">
                  <div class="input-group">
                    <input class="form-control" placeholder="Fecha Hasta" id="fecHasta" 
                           name="dp2" [(ngModel)]="fecHasta" ngbDatepicker #d2="ngbDatepicker">
                    <div class="">
                      <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button"><i class="bi bi-calendar"></i></button>
                    </div>
                  </div>
                </div>
                <button class="btn btn-outline-secondary my-2"  (click)=Buscar() >Filtrar</button>
          </div>
          <div class="" >
            <ng-container *ngFor='let a of blogs;let i = index'  >
                <ng-container *ngIf = 'i%2==0'>
                  <div class="card-blog shadow rounded">
                    <div class="fecha-blog">
                      <i class="bi bi-journals m-2"></i>
                      <h6 class="card-title text-center">{{a.fecha | date: 'dd/MM/yy'}}</h6>
                    </div>
                    <div class="blog-detalle" >
                      <h5 class="card-title card-header">Jaula {{a.codigoJaula}} - Blog N° {{a.id_blog}}</h5>
                      <p class="mb-1"><i>  usuario :{{a.id_usuario}}</i></p>
                      <p>{{a.detalle}}</p>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf = 'i%2!=0'>
                  <div class="card-blog shadow rounded">
                    <div class="blog" >
                      <h5 class="card-title card-header">Jaula {{a.codigoJaula}} - Blog N° {{a.id_blog}}</h5>
                      <p class="mb-1"><i>  usuario :{{a.id_usuario}}</i></p>
                      <p>{{a.detalle}}</p>
                    </div>
                    <div class="fecha">
                      <i class="bi bi-journals m-2"></i>
                      <h6 class="card-title text-center">{{a.fecha | date: 'dd/MM/yy'}}</h6>
                    </div>
                  </div>
                </ng-container>
            </ng-container>
        </div>
        <div *ngIf='blogs?.length === 0' class="text-center" style='color: darkred;'>
          <i class="bi bi-shield-exclamation" style="font-size: 3em"></i>
          <h5 style='color: darkred;'>No hay blogs existentes</h5>
        </div>
        </ng-template>
      </li>
      
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div> 
<div class="d-flex justify-content-center align-items-center h-100" *ngIf='cargando'>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
  






