<div class="m-4" routerLink="../" role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>
<div class="mx-4">
    <div class="text-center my-4">
        <h2>Usuarios</h2>
    </div>

    <div class="card rounded shadow p-4 mb-4">
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Email</th>
                  <th scope="col">Ultimo acceso</th>
                  <th scope="col">Nivel de acceso</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Gabriel Jotallan</td>
                  <td>gaabicarp@gmail.com</td>
                  <td>{{"Fri Mar 12 2021 14:56:41 GMT-0300 (hora estándar de Argentina)"}}</td>
                  <td>Nivel 1</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Gabriel Jotallan</td>
                    <td>gaabicarp@gmail.com</td>
                    <td>{{"Fri Mar 12 2021 14:56:41 GMT-0300 (hora estándar de Argentina)"}}</td>
                    <td>Nivel 1</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Gabriel Jotallan</td>
                    <td>gaabicarp@gmail.com</td>
                    <td>{{"Fri Mar 12 2021 14:56:41 GMT-0300 (hora estándar de Argentina)"}}</td>
                    <td>Nivel 1</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Gabriel Jotallan</td>
                    <td>gaabicarp@gmail.com</td>
                    <td>{{"Fri Mar 12 2021 14:56:41 GMT-0300 (hora estándar de Argentina)"}}</td>
                    <td>Nivel 1</td>
                </tr>
              </tbody>
        </table>
    </div>
    <button class="btn btn-primary" routerLink="nuevo-usuario">Crear Usuario</button>
</div>