.icon-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.img{
    margin-right: 1em;
}
.datos{
    display: flex;
    justify-content: space-between;
}
.contenido__title{
    margin: 2em;
    padding: 1em;
    margin-bottom: 0px;
    padding-bottom: 0px ;
}
.contenido__form{
    margin: 0 2em;
    padding: 1em;
}
.content__buttons{
    display: flex;
    justify-content: center;
}
.contenido__form-item{
    display: block;
    width: 70%;
}
.item-datos{
    width: 100%;
    margin: 1em 0 ;
}
.item-datos_representante{
    margin: 1em;
}
.contenido__form--datos{
    width: 100%;
}
@media screen and (max-width: 360px){
    .contenido__title{
        margin: 1em;
        padding: 0px;
        margin-bottom: 0px;
    }
    .contenido__form{
        margin: 0 1em;
        padding: 0px;
    }
    button{
        width: 100%;
        margin-bottom: 1em;
    }
    .content__buttons{
        display: block;
    }
    .contenido__form-item{
        display: block;
        width: 100%;
    }
    .item-datos{
        width: 90%;
    }
    .img{
        display: none;
    }
}