<div class="m-4" (click)='volver()' role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
</div>
<div class="mx-4">
    <div class="my-3">
        <h2>Nuevo Grupo de trabajo</h2>
    </div>

    <div class="p-4 mb-4">
        <form [formGroup]="formGrupo" (ngSubmit)="crearGrupo()">
            <div class="row">
                <div class="col-9">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre de Grupo</label>
                        <input type="text" class="form-control" id="nombre" formControlName='nombre'>
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div>
                        <label for="jefeGrupo" class="form-label">Jefe de grupo</label>
                        <select class="form-control"  id='jefeGrupo' aria-label="Default select example" formControlName="jefeGrupo">
                            <option *ngFor='let usuario of jefesDeGrupo' value="{{usuario.id_usuario}}">{{usuario.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="icon-container">
                        <i class="bi bi-people" style="font-size: 8em; margin: auto;"></i>
                    </div>
                </div>

            </div>
            <div>
                <label for="usuarios" class="form-label">Usuarios</label>
                <angular2-multiselect
                    [data]="itemList" 
                    [(ngModel)]="selectedItems" 
                    [settings]="settings"                 
                    formControlName="usuarios">
                </angular2-multiselect>
            </div>
            <!-- <div class="mx-4">
                <div class="row justify-content-between">
                    <div class="col-5">
                        <h5 class="text-center">Usuarios Disponibles</h5>
                        <div class="card rounded shadow">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let usuario of usuariosDisponibles">
                                    <div class="d-flex flex-row justify-content-between">
                                        {{usuario.nombre}}
                                        <div class="text-primary">
                                            <i class="bi bi-arrow-right-circle-fill" (click)='asignarUsuario(usuario)'></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-5">
                        <h5 class="text-center">Usuarios asignados</h5>
                        <div class="card rounded shadow">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor='let usuario of usuariosAsignados'>
                                    <div class="d-flex flex-row justify-content-between">
                                        {{usuario.nombre}}
                                        <div class="text-danger">
                                            <i class="bi bi-x-circle-fill" (click)='desasignarUsuario(usuario)'></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="d-flex flex-row justify-content-end mt-3">
                <div class="mx-3">
                    <button class="btn btn-primary btn-lg" type="submit" [disabled]='!formGrupo.valid'>Crear Proyecto</button>
                </div>
            </div>
        </form>
    </div>
</div>