<div *ngIf='!cargando'>
  <div class="m-4" routerLink="../" role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
  </div>
  <h3 class="text-center m-3">Datos de la Jaula</h3>
  
  <div class="">
  <form [formGroup]="formJaula" (ngSubmit)="crearJaula()">
    <div class="filaMayor">
      <div class="primer-bloque">
        <div class="fila">
          <label  class="form-label">Código</label>
          <input type="text" class="form-control" formControlName='codigo'>
        </div> 
        <div class="d-flex"> 
        <div class="fila">
              <label  class="form-label">Rack</label>
              <input type="number" class="form-control" formControlName='rack'> 
        </div>
        <div class="fila mx-1">
            <label  class="form-label">Estante</label>
            <input type="number" class="form-control" formControlName='estante'>
        </div>
        </div>
        <div class="fila">
           <label  class="form-label">Capacidad</label>
          <input type="number" class="form-control" formControlName='capacidad'>
        </div>
      </div>
      <div class="imagen mt-4">
          <div class="text-center">
              <i class="bi bi-archive" style="font-size: 8em;"></i>
          </div>
      </div>
    </div>
    <div class=" mb-3">
      <label  class="form-label">Tipo</label>
        <div class="input-group mb-3">
            <select class="form-control" aria-label=".form-select-lg example" formControlName='tipo'>
              <option value="Transparente">Transparente</option>
              <option value="Truncadas">Truncadas</option>
              <option value="Largas">Largas</option>
            </select>
        </div>
    </div>
    <div class=" mb-3">
      <label  class="form-label">Espacio Fisico</label>
        <div class="input-group mb-3">
            <select class="form-control" aria-label=".form-select-lg example" formControlName='id_espacioFisico'>
              <option *ngFor='let espacios of espaciosFisicos' value="{{espacios.id_espacioFisico}}">{{espacios.nombre}}</option>
            </select>
        </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success btn-lg" [disabled]="!formJaula.valid">Guardar</button>
    </div>
    <div *ngIf='alert === "ok"' class="alert" style="color: rgb(9, 78, 9);">
      <i class="bi bi-shield-check mx-1" style="font-size: 2em"></i>
      <h5 style="color: rgb(9, 78, 9);" class="my-1">{{mensajeAlert}}</h5>
    </div>
    <div *ngIf='alert === "error"' class="alert" style='color: darkred;'>
      <i class="bi bi-shield-x mx-1" style="font-size: 2em"></i>
      <h5 style='color: darkred;' class="my-1">{{mensajeAlert}}</h5>
    </div>
  </form>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center h-100" *ngIf='cargando'>
  <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
  </div>
</div>

<app-toast></app-toast>