form{
    padding:4em;
    padding-top: 0px;
    margin: 2em;
}
.fila{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0.5em;
    width: 100%;
}
.filaMayor{
    display: flex;
    flex-direction: row;
}
.estante{
    margin-left: 5px;
}
@media screen and (max-width: 360px){
   form{
       padding: 0.5em;
       margin: 1em;
   }
   .imagen{
       display: none;
       visibility: hidden;
   }
   .fila,.filaMayor{
    display: block;
    margin: 2px;
    width: 100%;
    }
    label,input,option{
        width: 100%;
    }
    .estante{
        margin-left: 0px;
    }
      
}