<div class="m-4" routerLink="../" role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
  </div>
  <h3 class="text-center mt-4">Datos de la Jaula</h3>
  <div class="card rounded shadow p-4 m-5">
  <form [formGroup]="formJaula" (ngSubmit)="crearJaula()">
          <div class="m-3">
            <label  class="form-label">Codigo</label>
            <input type="text" class="form-control" formControlName='codigo'>
          </div> 
          <div class="m-3">
              <label  class="form-label">Rack</label>
              <input type="number" class="form-control" formControlName='rack'>
          </div> 
          <div class="m-3">
            <label  class="form-label">Estante</label>
            <input type="number" class="form-control" formControlName='estante'>
          </div>
          <div class="m-3">
            <label  class="form-label">Capacidad</label>
            <input type="number" class="form-control" formControlName='capacidad'>
          </div>
          <div class=" m-3">
            <label  class="form-label">Tipo</label>
              <div class="input-group mb-3">
                  <select class="form-control" aria-label=".form-select-lg example" formControlName='tipo'>
                    <option value="Transparente">Transparente</option>
                    <option value="Truncadas">Truncadas</option>
                    <option value="Largas">Largas</option>
                  </select>
              </div>
          </div>
          <div class=" m-3">
            <label  class="form-label">Espacio Fisico</label>
              <div class="input-group mb-3">
                  <select class="form-control" aria-label=".form-select-lg example" formControlName='id_espacioFisico'>
                    <option *ngFor='let espacios of espaciosFisicos' value="{{espacios.id_espacioFisico}}">{{espacios.nombre}}</option>
                  </select>
              </div>
          </div>
          
          <div class=" m-3">
            <label  class="form-label">Proyecto Asociado</label>
              <div class="input-group mb-3">
                  <select class="form-control" aria-label=".form-select-lg example" formControlName='id_proyecto'>
                      <option value="0">Sin Asignar</option>
                      <option *ngFor='let proyecto of proyectos' value="{{proyecto.id_proyecto}}">{{proyecto.nombre}}</option>
                  </select>
              </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg">Crear Jaula</button>
          </div>
    </form>
    <div class="alert alert-{{estado}} mt-3" role="alert" *ngIf='alert'>
      {{mensajeAlert}}
    </div>
</div>
