<div class="m-4" routerLink="../" role="button">
    <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
  </div>
  <h3 class="text-center mt-4">Datos de la Jaula</h3>
  <div class="card rounded shadow p-4 m-5">
  <form>
          <div class="m-3">
            <label  class="form-label">Nombre</label>
            <input type="" class="form-control">
          </div> 
          <div class="m-3">
              <label  class="form-label">Numero</label>
              <input type="" class="form-control">
          </div> 
          <div class="m-3">
              <label  class="form-label">Rack</label>
              <input type="" class="form-control">
          </div> 
          <div class="m-3">
            <label  class="form-label">Estante</label>
            <input type="" class="form-control">
          </div>
          <div class="m-3">
            <label  class="form-label">Tipo de Jaula</label>
            <input type="" class="form-control">
          </div>
          <div class=" m-3">
            <label  class="form-label">Salón</label>
                <div class="input-group mb-3">
                    <select class="form-control" aria-label=".form-select-lg example">
                     <option selected>Seleccionar Salón</option>
                     <option value="1">Lab 1</option>
                      <option value="2">Lab 2</option>
                     <option value="3">Lab 3</option>
                     <option value="1">Lab 4</option>
                      <option value="2">Lab 5</option>
                     <option value="3">Lab 6</option>
                    </select>
                </div>
          </div>
          <div class=" m-3">
            <label  class="form-label">Proyecto Asociado</label>
                <div class="input-group mb-3">
                    <select class="form-control" aria-label=".form-select-lg example">
                     <option selected>Seleccionar Proyecto</option>
                        <option value="1">Inmunobio</option>
                        <option value="2">Coronavirus</option>
                        <option value="3">COVID</option>
                    </select>
                </div>
          </div>
    </form>
    <div class="text-center">
      <button type="button" class="btn btn-success btn-lg">Guardar</button>
  </div>
  </div>
