form{
    padding:4em;
    padding-top: 0px;
    margin: 2em;
    width: 90%;
}
.form-fila{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.form-primer_fila{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 8em;
    width: 100%;
}
.imagen{
    margin-right: 2.5em;
}
.form-primer_fila-primer_bloque{
    margin-left: 0px;
    width: 70%;
}
@media screen and (max-width: 360px){
   form{
       padding: 0.5em;
       margin: 1em;
   }
   .imagen{
       display: none;
       visibility: hidden;
   }
   .form-fila,.form-primer_fila,.form-primer_fila-primer_bloque{
    display: block;
    margin: 2px;
    width: 100%;
    margin-right: 0px;
    }
    label,input,option{
        width: 100%;
    }
}